Node Red/Lab_1_Cerradura.json
[
   {
      "id":"fa10062b.bcdec8",
      "type":"tab",
      "label":"Laboratorio de Diseño Logico",
      "disabled":false,
      "info":""
   },
   {
      "id":"cfbb8d54.92b8d",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion de Temperatura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":870,
      "y":1380,
      "wires":[
         [
            "2c33e2ba.dc84ae"
         ],
         [
            "be8c0b16.90a908"
         ]
      ]
   },
   {
      "id":"be8c0b16.90a908",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Temperatura alta",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":990,
      "y":1440,
      "wires":[
         [
            "8dc23912.7075c8",
            "55a0d047.bd235",
            "315ee252.08b36e"
         ]
      ]
   },
   {
      "id":"2c33e2ba.dc84ae",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Temperatura adecuada",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1230,
      "y":1180,
      "wires":[
         [
            "5a171f.b2f318e",
            "96b03e2f.1f4f4",
            "6a29fd6f.c03684",
            "9e3bd2b7.ea8b1",
            "22d31b89.576334",
            "8c49737e.fe77a"
         ]
      ]
   },
   {
      "id":"b7c1a44b.4447b8",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":210,
      "y":1360,
      "wires":[
         [
            "5a4df790.2d4e18",
            "212df327.250c9c"
         ]
      ]
   },
   {
      "id":"b26b6e53.805f7",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"3d1dda04.d53f36",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Nombre",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2740,
      "y":1100,
      "wires":[
         
      ]
   },
   {
      "id":"9e3bd2b7.ea8b1",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"nombre",
      "func":"let array = global.get(\"alumnoGlobal1\");\nmsg.payload = array.nombre\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1100,
      "wires":[
         [
            "b26b6e53.805f7"
         ]
      ]
   },
   {
      "id":"43877154.7867f",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"3d1dda04.d53f36",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Matricula",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2740,
      "y":1140,
      "wires":[
         
      ]
   },
   {
      "id":"6a29fd6f.c03684",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"matricula",
      "func":"let array = global.get(\"alumnoGlobal1\");\nmsg.payload = array.matricula\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1140,
      "wires":[
         [
            "43877154.7867f"
         ]
      ]
   },
   {
      "id":"540f9cfb.edf874",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforo = 0 ;\nglobal.set(\"AforoGlobal1\",GlobalAforo);\n\nmsg.payload = global.get(\"AforoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1490,
      "y":940,
      "wires":[
         [
            "d5e51dd7.b0e16",
            "72356403.cdf78c"
         ]
      ]
   },
   {
      "id":"d5e51dd7.b0e16",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"2c8bf412.27520c",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Aforo Actual",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1730,
      "y":840,
      "wires":[
         
      ]
   },
   {
      "id":"96b03e2f.1f4f4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"ubicacion",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.payload = ubi;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1180,
      "wires":[
         [
            "1aad84b4.d65ffb"
         ]
      ]
   },
   {
      "id":"1aad84b4.d65ffb",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"3d1dda04.d53f36",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Area",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2730,
      "y":1180,
      "wires":[
         
      ]
   },
   {
      "id":"ac52d040.f206d",
      "type":"ui_slider",
      "z":"fa10062b.bcdec8",
      "name":"Aforo permitido slide",
      "label":"Aforo permitido ",
      "tooltip":"",
      "group":"2c8bf412.27520c",
      "order":4,
      "width":0,
      "height":0,
      "passthru":true,
      "outs":"all",
      "topic":"topic",
      "topicType":"msg",
      "min":"1",
      "max":"40",
      "step":1,
      "x":1360,
      "y":160,
      "wires":[
         [
            "19bd2047.88b9"
         ]
      ]
   },
   {
      "id":"96bed640.ecf4e8",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"2c8bf412.27520c",
      "order":3,
      "width":0,
      "height":0,
      "name":"",
      "label":"Aforo permitido",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1860,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"19bd2047.88b9",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforoPermitido = msg.payload ;\nglobal.set(\"AforoPermitidoGlobal1\",GlobalAforoPermitido);\n\nmsg.payload = global.get(\"AforoPermitidoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1610,
      "y":160,
      "wires":[
         [
            "96bed640.ecf4e8",
            "6adec311.86257c",
            "114dd64a.4f5d1a"
         ]
      ]
   },
   {
      "id":"5a171f.b2f318e",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo +1",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo += 1 ;\n\nglobal.set(\"AforoGlobal1\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1440,
      "y":860,
      "wires":[
         [
            "d5e51dd7.b0e16",
            "72356403.cdf78c"
         ]
      ]
   },
   {
      "id":"b900e25.e2db02",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":580,
      "y":1500,
      "wires":[
         
      ]
   },
   {
      "id":"b99eb964.efacb8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":650,
      "y":1440,
      "wires":[
         [
            "b900e25.e2db02"
         ]
      ]
   },
   {
      "id":"212df327.250c9c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de Usuario",
      "func":"let alumno = msg.payload ;\nglobal.set(\"alumnoGlobal1\",alumno);\n\nmsg.payload = global.get(\"alumnoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":1360,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"bca38448.646128",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":410,
      "y":1420,
      "wires":[
         [
            "a18a94a1.1eacf8"
         ],
         [
            "b99eb964.efacb8"
         ]
      ]
   },
   {
      "id":"5a4df790.2d4e18",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":210,
      "y":1420,
      "wires":[
         [
            "bca38448.646128"
         ]
      ]
   },
   {
      "id":"22d31b89.576334",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"temperatura",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2190,
      "y":1240,
      "wires":[
         [
            "77edf61f.6e5eb8",
            "860701a6.ed866"
         ]
      ]
   },
   {
      "id":"77edf61f.6e5eb8",
      "type":"ui_gauge",
      "z":"fa10062b.bcdec8",
      "name":"",
      "group":"3d1dda04.d53f36",
      "order":10,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Temperatura corporal",
      "label":"centigrados",
      "format":"{{value}}",
      "min":0,
      "max":"43",
      "colors":[
         "#e6e600",
         "#44ff00",
         "#ff0000"
      ],
      "seg1":"35",
      "seg2":"37.5",
      "x":2780,
      "y":1220,
      "wires":[
         
      ]
   },
   {
      "id":"860701a6.ed866",
      "type":"ui_chart",
      "z":"fa10062b.bcdec8",
      "name":"Temperaturas de usuarios",
      "group":"3d1dda04.d53f36",
      "order":11,
      "width":0,
      "height":0,
      "label":"Temperaturas de usuarios",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"60",
      "removeOlder":"1",
      "removeOlderPoints":"1000",
      "removeOlderUnit":"86400",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":2790,
      "y":1260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a18a94a1.1eacf8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo disponible",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":660,
      "y":1380,
      "wires":[
         [
            "cfbb8d54.92b8d"
         ]
      ]
   },
   {
      "id":"a4b7b306.cfb42",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/TemperaturaAlta/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1560,
      "y":1440,
      "wires":[
         
      ]
   },
   {
      "id":"8dc23912.7075c8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aviso de temperatura alta",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Temperatura Alta \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1250,
      "y":1440,
      "wires":[
         [
            "a4b7b306.cfb42"
         ]
      ]
   },
   {
      "id":"ce8a53d0.31103",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3050,
      "y":1320,
      "wires":[
         
      ]
   },
   {
      "id":"4b390211.9759ac",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2670,
      "y":1320,
      "wires":[
         [
            "a99f3258.aea36"
         ]
      ]
   },
   {
      "id":"a99f3258.aea36",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2860,
      "y":1320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"6adec311.86257c",
      "type":"ui_chart",
      "z":"fa10062b.bcdec8",
      "name":"",
      "group":"2c8bf412.27520c",
      "order":5,
      "width":0,
      "height":0,
      "label":"Aforo permitio",
      "chartType":"radar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"1",
      "ymax":"40",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"0",
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#ff1900",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":1860,
      "y":180,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"67731748.fd9c58",
      "type":"ui_button",
      "z":"fa10062b.bcdec8",
      "name":"",
      "group":"2c8bf412.27520c",
      "order":11,
      "width":"0",
      "height":"0",
      "passthru":false,
      "label":"Reset aforo",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"topic",
      "topicType":"msg",
      "x":1250,
      "y":940,
      "wires":[
         [
            "540f9cfb.edf874"
         ]
      ]
   },
   {
      "id":"b14500e.67f0e",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararRFID/Alumno/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":260,
      "y":380,
      "wires":[
         [
            "a929634a.0feb2"
         ]
      ]
   },
   {
      "id":"cbc1a34f.81e2d",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda alumno",
      "func":"let RFID = global.get(\"RFIDGlobal1\");\nmsg.topic = \"SELECT * FROM alumnos where RFID = '\" + RFID + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":560,
      "wires":[
         [
            "69303154.62146"
         ]
      ]
   },
   {
      "id":"69303154.62146",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":220,
      "y":620,
      "wires":[
         [
            "f4c7aaac.780bf8"
         ]
      ]
   },
   {
      "id":"f4c7aaac.780bf8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"resultado alumno",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let alumno = array[0]; \n    global.set(\"alumnoEctGlobal1\",alumno);\n    msg.payload = global.get(\"alumnoEctGlobal1\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":620,
      "wires":[
         [
            "bbef1b4a.4a2588"
         ]
      ]
   },
   {
      "id":"49d6a5a8.f90a7c",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Comprobar password RFID en BD Alumnos",
      "info":"Esta fucnion recibe el numero de identificacion RFID\ndel alumno que desea ingresar, en caso de que la encunetre nos da la informacion del alumno, en caso contrario nos devuelve un \"No encontrado\"",
      "x":250,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"573abbd5.0099d4",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":680,
      "y":760,
      "wires":[
         
      ]
   },
   {
      "id":"bbef1b4a.4a2588",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":220,
      "y":720,
      "wires":[
         [
            "9a62b8d1.e88728"
         ],
         [
            "72c0a33c.b82b1c"
         ]
      ]
   },
   {
      "id":"72c0a33c.b82b1c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"No encontrado",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":420,
      "y":760,
      "wires":[
         [
            "573abbd5.0099d4"
         ]
      ]
   },
   {
      "id":"f3de4875.ef4ac8",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/LecturaTemperatura/Alumno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2240,
      "y":680,
      "wires":[
         
      ]
   },
   {
      "id":"17dfd01.c52ff3",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"alumnoEctGlobal1\");\nlet nombre = array.nombre;\nlet matricula = array.matricula;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ matricula + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1880,
      "y":680,
      "wires":[
         [
            "f3de4875.ef4ac8"
         ]
      ]
   },
   {
      "id":"9a62b8d1.e88728",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Encontrado",
      "func":"msg.topic = \"SELECT * FROM registroentradaalumnos where RFID = '\"+ msg.payload.RFID +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":410,
      "y":700,
      "wires":[
         [
            "55b2e7d3.1a9178"
         ]
      ]
   },
   {
      "id":"26e8237c.c76ddc",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1120,
      "y":700,
      "wires":[
         [
            "dc7c5068.009a",
            "1a4310e4.803bdf",
            "77b88ff6.197b6",
            "34798daa.afeb52",
            "94843b24.c44ae8"
         ],
         [
            "9f9e73cd.cf2fe"
         ]
      ]
   },
   {
      "id":"55b2e7d3.1a9178",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":580,
      "y":700,
      "wires":[
         [
            "2c86ecc0.8b9c64"
         ]
      ]
   },
   {
      "id":"2c86ecc0.8b9c64",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda alumno (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let alumno = array[0]; \n    global.set(\"alumnoGlobal1\",alumno);\n    msg.payload = global.get(\"alumnoGlobal1\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; \n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":850,
      "y":700,
      "wires":[
         [
            "26e8237c.c76ddc"
         ]
      ]
   },
   {
      "id":"1f8ae6ce.5e1779",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoTemperatura/Alumno/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":240,
      "y":1300,
      "wires":[
         [
            "b7c1a44b.4447b8"
         ]
      ]
   },
   {
      "id":"8c49737e.fe77a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2250,
      "y":1320,
      "wires":[
         [
            "63dbdfe0.cc2b4"
         ]
      ]
   },
   {
      "id":"63dbdfe0.cc2b4",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2480,
      "y":1320,
      "wires":[
         [
            "4b390211.9759ac",
            "9a3bbf89.6665c"
         ]
      ]
   },
   {
      "id":"dc7c5068.009a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Salida",
      "func":"let RFID = msg.payload.RFID;\nlet matricula = msg.payload.matricula;\nlet nombre = msg.payload.nombre;\nlet apellidos = msg.payload.apellidos;\nlet area = msg.payload.area;\n\n\nmsg.topic = \"INSERT INTO registrosalidaalumnos (RFID, matricula, nombre, apellidos,  area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":480,
      "wires":[
         [
            "b7f24a10.f34298"
         ]
      ]
   },
   {
      "id":"b7f24a10.f34298",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1600,
      "y":500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1a4310e4.803bdf",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Eliminar de Entrada",
      "func":"let RFID = msg.payload.RFID;\nmsg.topic = \"DELETE FROM registroentradaalumnos where RFID = '\"+ RFID +\"'\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":520,
      "wires":[
         [
            "b7f24a10.f34298"
         ]
      ]
   },
   {
      "id":"97334075.6d657",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Despedida/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1640,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"77b88ff6.197b6",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Alumno saliendo",
      "func":"let nombre = msg.payload.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":560,
      "wires":[
         [
            "97334075.6d657"
         ]
      ]
   },
   {
      "id":"34798daa.afeb52",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo -1",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo -= 1 ;\n\nglobal.set(\"AforoGlobal1\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1440,
      "y":800,
      "wires":[
         [
            "d5e51dd7.b0e16",
            "72356403.cdf78c"
         ]
      ]
   },
   {
      "id":"b93b95f6.3c30e8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Registro",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO temperaturaaltaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1620,
      "y":1580,
      "wires":[
         [
            "cf121c84.d1728"
         ]
      ]
   },
   {
      "id":"cf121c84.d1728",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1780,
      "y":1580,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"55a0d047.bd235",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":1580,
      "wires":[
         [
            "891dd827.d59578"
         ]
      ]
   },
   {
      "id":"891dd827.d59578",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1480,
      "y":1580,
      "wires":[
         [
            "b93b95f6.3c30e8"
         ]
      ]
   },
   {
      "id":"1b5a2190.b334fe",
      "type":"ui_switch",
      "z":"fa10062b.bcdec8",
      "name":"",
      "label":"Habilitar/Deshabilitar  Lectura de temperatura ",
      "tooltip":"",
      "group":"2c8bf412.27520c",
      "order":6,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":1510,
      "y":320,
      "wires":[
         [
            "627309e1.06ffc8",
            "b4697df2.d603e"
         ]
      ]
   },
   {
      "id":"627309e1.06ffc8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Indicacion de TMP opcional",
      "func":"let temp = msg.payload ;\nglobal.set(\"LecturaDeTemperaturaGlobal1\",temp);\nmsg.payload = global.get(\"LecturaDeTemperaturaGlobal1\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":340,
      "wires":[
         [
            "5f7a0a3e.543184"
         ]
      ]
   },
   {
      "id":"9f9e73cd.cf2fe",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"LecturaDeTemperaturaGlobal1\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1420,
      "y":660,
      "wires":[
         [
            "12d52bdf.5d8914"
         ]
      ]
   },
   {
      "id":"12d52bdf.5d8914",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1470,
      "y":720,
      "wires":[
         [
            "4255c8f8.4deb78"
         ],
         [
            "6938b200.e1e98c"
         ]
      ]
   },
   {
      "id":"2b48df4c.dc3b1",
      "type":"ui_toast",
      "z":"fa10062b.bcdec8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"",
      "name":"Tempertaura",
      "x":2030,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"4255c8f8.4deb78",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Habilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1700,
      "y":680,
      "wires":[
         [
            "17dfd01.c52ff3"
         ]
      ]
   },
   {
      "id":"6938b200.e1e98c",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Deshabilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1720,
      "y":760,
      "wires":[
         [
            "a81e58.8a39f1a8"
         ]
      ]
   },
   {
      "id":"a81e58.8a39f1a8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"alumnoEctGlobal1\");\nlet nombre = array.nombre;\nlet matricula = array.matricula;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ matricula + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1920,
      "y":760,
      "wires":[
         [
            "2372dc96.a11534"
         ]
      ]
   },
   {
      "id":"2372dc96.a11534",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/DeshabilitadoTemperatura/Alumno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2250,
      "y":760,
      "wires":[
         
      ]
   },
   {
      "id":"577744e.55d75bc",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoDeshabilitadoTemperatura/Alumno/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":1600,
      "y":980,
      "wires":[
         [
            "49ef7869.99b658"
         ]
      ]
   },
   {
      "id":"49ef7869.99b658",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":1890,
      "y":980,
      "wires":[
         [
            "8c0ca94b.19bd98",
            "2f7c65e1.67d63a"
         ]
      ]
   },
   {
      "id":"239cbad7.e061a6",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"nombre",
      "func":"let alumno = global.get(\"alumnoDeshabilitadoGlobal1\");\nlet nombre = alumno.nombre ;\nmsg.payload = nombre ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1080,
      "wires":[
         [
            "b26b6e53.805f7"
         ]
      ]
   },
   {
      "id":"3283aeb2.ae2ec2",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"matricula",
      "func":"let alumno = global.get(\"alumnoDeshabilitadoGlobal1\");\nlet matricula = alumno.matricula ;\nmsg.payload = matricula ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1120,
      "wires":[
         [
            "43877154.7867f"
         ]
      ]
   },
   {
      "id":"35163648.dd3f1a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"ubicacion",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.payload = ubi;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1160,
      "wires":[
         [
            "1aad84b4.d65ffb"
         ]
      ]
   },
   {
      "id":"fa16a1fb.0c5ee",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"temperatura",
      "func":"msg.payload = 0 ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2450,
      "y":1200,
      "wires":[
         [
            "77edf61f.6e5eb8",
            "860701a6.ed866"
         ]
      ]
   },
   {
      "id":"5f243720.ea6a18",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3230,
      "y":1020,
      "wires":[
         
      ]
   },
   {
      "id":"b531ea20.512af8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2890,
      "y":1020,
      "wires":[
         [
            "d2835cf.6e139a"
         ]
      ]
   },
   {
      "id":"d2835cf.6e139a",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3060,
      "y":1020,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"e4f10eb9.ec29a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoDeshabilitadoGlobal1\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2510,
      "y":1020,
      "wires":[
         [
            "cdaf5649.1e8478"
         ]
      ]
   },
   {
      "id":"cdaf5649.1e8478",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2720,
      "y":1020,
      "wires":[
         [
            "b531ea20.512af8",
            "345db676.900d8a"
         ]
      ]
   },
   {
      "id":"8c0ca94b.19bd98",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de Usuario",
      "func":"let alumno = msg.payload ;\nglobal.set(\"alumnoDeshabilitadoGlobal1\",alumno);\n\nmsg.payload = global.get(\"alumnoDeshabilitadoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2130,
      "y":940,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"5f7a0a3e.543184",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Mesnaje TMP opcional",
      "func":"let temp = msg.payload ;\n msg.topic = \"Temperatura\";\nif ( temp == 1){\n    msg.payload = \"Lectura de temperatura habilitada\" ;\n}else{\n    msg.payload = \"Lectura de temperatura deshabilitada\";\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":400,
      "wires":[
         [
            "2b48df4c.dc3b1"
         ]
      ]
   },
   {
      "id":"1dab0d9e.9de372",
      "type":"ui_table",
      "z":"fa10062b.bcdec8",
      "group":"fc79d744.6ed698",
      "name":"",
      "order":1,
      "width":"10",
      "height":"10",
      "columns":[
         {
            "field":"RFID",
            "title":"RFID",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"matricula",
            "title":"Matricula",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"nombre",
            "title":"Nombre",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"apellidos",
            "title":"Apellidos",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temperatura",
            "title":"Temperatura",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"area",
            "title":"Area",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"fecha",
            "title":"Fecha",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":1,
      "cts":true,
      "x":1050,
      "y":1700,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"4742260b.debf58",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Historial entrada",
      "info":"",
      "x":200,
      "y":1700,
      "wires":[
         
      ]
   },
   {
      "id":"fb137943.f9ebe8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.topic = \"SELECT * FROM registroentradaalumnos WHERE area = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":580,
      "y":1700,
      "wires":[
         [
            "ef8246a7.b70da8"
         ]
      ]
   },
   {
      "id":"ef8246a7.b70da8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":740,
      "y":1700,
      "wires":[
         [
            "74ff60c1.67ab4"
         ]
      ]
   },
   {
      "id":"74ff60c1.67ab4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"",
      "func":"let d = msg.payload\nmsg.payload = d;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":1700,
      "wires":[
         [
            "1dab0d9e.9de372"
         ]
      ]
   },
   {
      "id":"bc69244e.6c35e8",
      "type":"inject",
      "z":"fa10062b.bcdec8",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"5",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":410,
      "y":1700,
      "wires":[
         [
            "fb137943.f9ebe8"
         ]
      ]
   },
   {
      "id":"c85ca401.ccad28",
      "type":"ui_table",
      "z":"fa10062b.bcdec8",
      "group":"7581af59.f392c",
      "name":"",
      "order":1,
      "width":"10",
      "height":"10",
      "columns":[
         {
            "field":"RFID",
            "title":"RFID",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"matricula",
            "title":"Matricula",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"nombre",
            "title":"Nombre",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"apellidos",
            "title":"Apellidos",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"area",
            "title":"Area",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"fecha",
            "title":"Fecha",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":1,
      "cts":true,
      "x":1050,
      "y":1760,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"59bf7c5b.bbccf4",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Historial salida",
      "info":"",
      "x":200,
      "y":1760,
      "wires":[
         
      ]
   },
   {
      "id":"c5a552a8.c7ded",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.topic = \"SELECT * FROM registrosalidaalumnos WHERE area = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":580,
      "y":1760,
      "wires":[
         [
            "3db13d44.1909d2"
         ]
      ]
   },
   {
      "id":"3db13d44.1909d2",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":740,
      "y":1760,
      "wires":[
         [
            "c0305070.8856e"
         ]
      ]
   },
   {
      "id":"c0305070.8856e",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"",
      "func":"let d = msg.payload\nmsg.payload = d;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":1760,
      "wires":[
         [
            "c85ca401.ccad28"
         ]
      ]
   },
   {
      "id":"6101b739.a04838",
      "type":"inject",
      "z":"fa10062b.bcdec8",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"5",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":410,
      "y":1760,
      "wires":[
         [
            "c5a552a8.c7ded"
         ]
      ]
   },
   {
      "id":"be36143e.5111c8",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2600,
      "y":940,
      "wires":[
         
      ]
   },
   {
      "id":"2f7c65e1.67d63a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":1040,
      "wires":[
         [
            "2e0fe37f.5da42c",
            "498c96f.2406b68"
         ]
      ]
   },
   {
      "id":"2e0fe37f.5da42c",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2130,
      "y":980,
      "wires":[
         [
            "239cbad7.e061a6",
            "3283aeb2.ae2ec2",
            "35163648.dd3f1a",
            "fa16a1fb.0c5ee",
            "e4f10eb9.ec29a",
            "5a171f.b2f318e"
         ],
         [
            "5a5420a.a7e2fe"
         ]
      ]
   },
   {
      "id":"5a5420a.a7e2fe",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2350,
      "y":940,
      "wires":[
         [
            "be36143e.5111c8"
         ]
      ]
   },
   {
      "id":"2d8daa0d.20afa6",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Ubicacion/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":230,
      "y":200,
      "wires":[
         [
            "a9675838.449518"
         ]
      ]
   },
   {
      "id":"9f1c556e.ca3688",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"2c8bf412.27520c",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Ubicacion",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":840,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"a9675838.449518",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":430,
      "y":200,
      "wires":[
         [
            "ffc1b993.759df8"
         ]
      ]
   },
   {
      "id":"ffc1b993.759df8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"funcion Ubicacion",
      "func":"let Ubicacion = msg.payload.ubicacion ;\nglobal.set(\"UbicacionGlobal1\",Ubicacion);\nmsg.payload = global.get(\"UbicacionGlobal1\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":610,
      "y":200,
      "wires":[
         [
            "9f1c556e.ca3688",
            "957feea4.f65c4",
            "410b2258.c7898c"
         ]
      ]
   },
   {
      "id":"59dc9e1f.9acd",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Ubicacion",
      "info":"En este topic, la cerradura nos manda su ubicacion en donde esta instalado(laboratorio), y convertimos la variable en global",
      "x":160,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"212a390f.4d70f6",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Cerradura 0 (Laboratorio de Sistemas Digitales)",
      "info":"",
      "x":1180,
      "y":40,
      "wires":[
         
      ]
   },
   {
      "id":"8c92dde9.3bfa3",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Lectura de temperatura opcional",
      "info":"",
      "x":1470,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"cc97a4c2.919608",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Recibimos los datos de la lectura de temperatura",
      "info":"",
      "x":240,
      "y":1260,
      "wires":[
         
      ]
   },
   {
      "id":"ca3ffb14.ab0418",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Aforo",
      "info":"",
      "x":1310,
      "y":120,
      "wires":[
         
      ]
   },
   {
      "id":"94843b24.c44ae8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Salida Historial",
      "func":"let RFID = msg.payload.RFID;\nlet matricula = msg.payload.matricula;\nlet nombre = msg.payload.nombre;\nlet apellidos = msg.payload.apellidos;\nlet area = msg.payload.area;\n\n\nmsg.topic = \"INSERT INTO registrosalidaalumnoshistorial (RFID, matricula, nombre, apellidos,  area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1400,
      "y":440,
      "wires":[
         [
            "b7f24a10.f34298"
         ]
      ]
   },
   {
      "id":"9a3bbf89.6665c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnoshistorial (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2670,
      "y":1360,
      "wires":[
         [
            "a99f3258.aea36"
         ]
      ]
   },
   {
      "id":"345db676.900d8a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnoshistorial (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2890,
      "y":1060,
      "wires":[
         [
            "d2835cf.6e139a"
         ]
      ]
   },
   {
      "id":"47c8fdd4.157d24",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1960,
      "y":880,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"72356403.cdf78c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en aforo Actual",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet aforo = global.get(\"AforoGlobal1\");\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET aforoActual = '\" + aforo +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1770,
      "y":880,
      "wires":[
         [
            "47c8fdd4.157d24"
         ]
      ]
   },
   {
      "id":"114dd64a.4f5d1a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en aforo Actual",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet aforo = global.get(\"AforoPermitidoGlobal1\");\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET aforoPermitido = '\" + aforo +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":220,
      "wires":[
         [
            "3a6746b3.05233a"
         ]
      ]
   },
   {
      "id":"3a6746b3.05233a",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2100,
      "y":220,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"fd5d25ac.f1e468",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Si recibo un mensaje se reinicio el servidor",
      "info":"",
      "x":400,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"957feea4.f65c4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo permitdo y actual almacenado",
      "func":"let ubi = msg.payload;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":710,
      "y":260,
      "wires":[
         [
            "fee4832d.8e13a"
         ]
      ]
   },
   {
      "id":"fee4832d.8e13a",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":940,
      "y":260,
      "wires":[
         [
            "26f84d4.e749cb2",
            "58c28749.3b3b58",
            "f4d75bb1.5d3cf8",
            "1bcd9cac.7504c3",
            "9ffef39f.eaa07",
            "34975762.145d78",
            "73b1bfb2.3cec2",
            "1dfb2f87.1b3d5"
         ]
      ]
   },
   {
      "id":"26f84d4.e749cb2",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo permitdo ",
      "func":"let aforo =  Number(msg.payload[0].aforoPermitido);\nglobal.set(\"AforoPermitidoGlobal1\",aforo);\nmsg.payload = aforo;\nmsg.topic = \" \";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1120,
      "y":240,
      "wires":[
         [
            "ac52d040.f206d"
         ]
      ]
   },
   {
      "id":"58c28749.3b3b58",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo actual",
      "func":"let aforo =  Number(msg.payload[0].aforoActual);\nglobal.set(\"AforoGlobal1\",aforo);\nmsg.payload =  aforo;\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1110,
      "y":280,
      "wires":[
         [
            "15eeea9f.719995"
         ]
      ]
   },
   {
      "id":"15eeea9f.719995",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforo = msg.payload ;\nglobal.set(\"AforoGlobal1\",GlobalAforo);\n\nmsg.payload = global.get(\"AforoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1490,
      "y":900,
      "wires":[
         [
            "d5e51dd7.b0e16"
         ]
      ]
   },
   {
      "id":"b4697df2.d603e",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar Opcion Temperatura",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet op = msg.payload;\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET LecturaTemperatura = '\" + op +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":300,
      "wires":[
         [
            "98173a73.89e4a8"
         ]
      ]
   },
   {
      "id":"98173a73.89e4a8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2040,
      "y":300,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f4d75bb1.5d3cf8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Opcion temperatura",
      "func":"let op = msg.payload[0].LecturaTemperatura;\nmsg.payload = op;\nlet num  = false ;\nif ( op == \"true\"){\n    num = true ;\n}else {\n    num = false ;\n}\nmsg.payload = num;\nmsg.topic = \"Lectura de temperatura\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1140,
      "y":320,
      "wires":[
         [
            "1b5a2190.b334fe"
         ]
      ]
   },
   {
      "id":"19ddeceb.2198f3",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Bloqueo/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":550,
      "y":1860,
      "wires":[
         
      ]
   },
   {
      "id":"6e09bb06.98ebf4",
      "type":"ui_switch",
      "z":"fa10062b.bcdec8",
      "name":"",
      "label":"Bloqueo / Desloqueo cerradura",
      "tooltip":"",
      "group":"2c8bf412.27520c",
      "order":7,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":250,
      "y":1860,
      "wires":[
         [
            "19ddeceb.2198f3"
         ]
      ]
   },
   {
      "id":"addbddb4.71877",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Desbloqueo / Bloqueo cerradura",
      "info":"Esta funcion desbloquea la puerta si el administrador asi lo desea ",
      "x":250,
      "y":1820,
      "wires":[
         
      ]
   },
   {
      "id":"16c9ebab.210fc4",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion de Temperatura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":930,
      "y":2800,
      "wires":[
         [
            "24e16f40.c127e"
         ],
         [
            "4c6c5d18.d3d834",
            "7526aed5.3657a",
            "b223ec47.205a1"
         ]
      ]
   },
   {
      "id":"24e16f40.c127e",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Temperatura adecuada",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1150,
      "y":2680,
      "wires":[
         [
            "c7d52a89.b8ae48",
            "656a9788.f359b8",
            "d431a165.de414",
            "5a171f.b2f318e",
            "748dbd33.d09cf4"
         ]
      ]
   },
   {
      "id":"2ae5ba32.6f69b6",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":270,
      "y":2780,
      "wires":[
         [
            "79fbc400.31abcc",
            "13654944.e553f7"
         ]
      ]
   },
   {
      "id":"f1f407ff.efb7e8",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"378ceaaa.0b7336",
      "order":9,
      "width":0,
      "height":0,
      "name":"",
      "label":"Nombre Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3210,
      "y":2580,
      "wires":[
         
      ]
   },
   {
      "id":"e47bfc7e.efdc",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"nombre",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].nombre + \" \" + profesor[0].apellidos ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2020,
      "y":2580,
      "wires":[
         [
            "f1f407ff.efb7e8"
         ]
      ]
   },
   {
      "id":"6946a8fa.296c58",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"378ceaaa.0b7336",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"noEmpleado Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3200,
      "y":2620,
      "wires":[
         
      ]
   },
   {
      "id":"b19ef279.9622",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"noEmpleado",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].noEmpleado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2030,
      "y":2620,
      "wires":[
         [
            "6946a8fa.296c58"
         ]
      ]
   },
   {
      "id":"74612159.fdce1",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion correo tempertaura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":840,
      "y":3120,
      "wires":[
         [
            
         ],
         [
            "15026920.852897"
         ]
      ]
   },
   {
      "id":"7526aed5.3657a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Lectura de temperatura",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":590,
      "y":3120,
      "wires":[
         [
            "74612159.fdce1",
            "830f9b10.3fe668"
         ]
      ]
   },
   {
      "id":"2a029ea3.f9e282",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":640,
      "y":2920,
      "wires":[
         
      ]
   },
   {
      "id":"7cc0ba48.4c8a94",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":710,
      "y":2860,
      "wires":[
         [
            "2a029ea3.f9e282"
         ]
      ]
   },
   {
      "id":"faeee958.5ede98",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":470,
      "y":2840,
      "wires":[
         [
            "17c45554.be01ab"
         ],
         [
            "7cc0ba48.4c8a94"
         ]
      ]
   },
   {
      "id":"79fbc400.31abcc",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":270,
      "y":2840,
      "wires":[
         [
            "faeee958.5ede98"
         ]
      ]
   },
   {
      "id":"c7d52a89.b8ae48",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"temperatura",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2030,
      "y":2660,
      "wires":[
         [
            "9d33ba95.636628"
         ]
      ]
   },
   {
      "id":"17c45554.be01ab",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo disponible",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":720,
      "y":2800,
      "wires":[
         [
            "16c9ebab.210fc4"
         ]
      ]
   },
   {
      "id":"d7b84a0f.7b0368",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/TemperaturaAlta/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":900,
      "y":3060,
      "wires":[
         
      ]
   },
   {
      "id":"4c6c5d18.d3d834",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aviso de temperatura alta",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Temperatura Alta \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":590,
      "y":3060,
      "wires":[
         [
            "d7b84a0f.7b0368"
         ]
      ]
   },
   {
      "id":"3e62154c.2e3d2a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2570,
      "y":2700,
      "wires":[
         [
            "3ffc8e4.df73a72"
         ]
      ]
   },
   {
      "id":"3ffc8e4.df73a72",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2840,
      "y":2700,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"dc4d55c3.c4dfe8",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararHuella/Profesor/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2000,
      "wires":[
         [
            "c0c21b2c.4af528"
         ]
      ]
   },
   {
      "id":"af0ec4e1.c95d88",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda profesor o administrativo",
      "func":"msg.topic = \"SELECT * FROM profesoresypersonal WHERE huella = '\" + msg.payload.dactilar + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":440,
      "y":2060,
      "wires":[
         [
            "35d7ba8d.f24c86"
         ]
      ]
   },
   {
      "id":"35d7ba8d.f24c86",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":300,
      "y":2220,
      "wires":[
         [
            "60ae33a.a1957cc"
         ]
      ]
   },
   {
      "id":"60ae33a.a1957cc",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"resultado profesor o administrativo",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let profesor = array[0]; \n    global.set(\"profesorEctGlobal1\",profesor);\n    msg.payload = global.get(\"profesorEctGlobal1\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":540,
      "y":2220,
      "wires":[
         [
            "becd2f30.b76a3"
         ]
      ]
   },
   {
      "id":"50cd08c6.cfc428",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Comprobar password RFID en BD Alumnos",
      "info":"Esta fucnion recibe el numero de identificacion RFID\ndel alumno que desea ingresar, en caso de que la encunetre nos da la informacion del alumno, en caso contrario nos devuelve un \"No encontrado\"",
      "x":290,
      "y":1960,
      "wires":[
         
      ]
   },
   {
      "id":"c0c21b2c.4af528",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":190,
      "y":2060,
      "wires":[
         [
            "af0ec4e1.c95d88",
            "f10e3bc2.1702a8"
         ]
      ]
   },
   {
      "id":"e6343cec.909a2",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":760,
      "y":2360,
      "wires":[
         
      ]
   },
   {
      "id":"becd2f30.b76a3",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":300,
      "y":2320,
      "wires":[
         [
            "4204320f.859dec"
         ],
         [
            "c8488521.9b2cc8"
         ]
      ]
   },
   {
      "id":"c8488521.9b2cc8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"No encontrado",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":500,
      "y":2360,
      "wires":[
         [
            "e6343cec.909a2"
         ]
      ]
   },
   {
      "id":"23e7b8ab.a06bd8",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/LecturaTemperatura/Profesor/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2280,
      "y":2380,
      "wires":[
         
      ]
   },
   {
      "id":"6680791a.f7e218",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"profesorEctGlobal1\");\nlet nombre = array.nombre;\nlet noEmpleado = array.noEmpleado;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ noEmpleado + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1920,
      "y":2380,
      "wires":[
         [
            "23e7b8ab.a06bd8"
         ]
      ]
   },
   {
      "id":"4204320f.859dec",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Encontrado",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\"+ ubi +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":470,
      "y":2300,
      "wires":[
         [
            "204b6e5e.a9a012"
         ]
      ]
   },
   {
      "id":"4cabaed1.13437",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"Desocupado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Desocupado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1120,
      "y":2300,
      "wires":[
         [
            "b7c70b76.322b78"
         ],
         [
            "d1f5b2ba.d2e39"
         ]
      ]
   },
   {
      "id":"204b6e5e.a9a012",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":620,
      "y":2300,
      "wires":[
         [
            "64d9a411.0dcc1c"
         ]
      ]
   },
   {
      "id":"64d9a411.0dcc1c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda profesor (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array[0].profesorAdentro == \"false\" ){\n    msg.payload = \"Desocupado\"; \n    return msg;\n}else {\n    global.set(\"EstadoGlobal1\",array[0]);\n    msg.payload = global.get(\"EstadoGlobal1\");\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":870,
      "y":2300,
      "wires":[
         [
            "4cabaed1.13437"
         ]
      ]
   },
   {
      "id":"2551bcc4.6157f4",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoTemperatura/Profesor/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2720,
      "wires":[
         [
            "2ae5ba32.6f69b6"
         ]
      ]
   },
   {
      "id":"489a8e12.dcd18",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2340,
      "y":2700,
      "wires":[
         [
            "3e62154c.2e3d2a",
            "770b1e1c.4959e",
            "5596e839.d417e8"
         ]
      ]
   },
   {
      "id":"36773eb8.41fde2",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Eliminar en laboratoriosyaulas",
      "func":"let noEmpleado = \" \" ;\nlet nombrePro = \" \";\nlet pA = \"false\"\n\nlet ubi = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1870,
      "y":2120,
      "wires":[
         [
            "f48d9314.cbac"
         ]
      ]
   },
   {
      "id":"f48d9314.cbac",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2120,
      "y":2180,
      "wires":[
         [
            "88684a82.129088"
         ]
      ]
   },
   {
      "id":"d03f6025.bb1a2",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Eliminar de Entrada",
      "func":"let profesor = global.get(\"profesorEctGlobal1\");\nlet noEmpleado = profesor.noEmpleado ;\nmsg.topic = \"DELETE FROM registroentradaprofesoresypersonal where noEmpleado = '\"+ noEmpleado +\"'\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1830,
      "y":2160,
      "wires":[
         [
            "f48d9314.cbac"
         ]
      ]
   },
   {
      "id":"82a2a5a.296bd58",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Ocupado/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1900,
      "y":2300,
      "wires":[
         
      ]
   },
   {
      "id":"224199f5.873d66",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Ocupado",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Ocupado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1680,
      "y":2300,
      "wires":[
         [
            "82a2a5a.296bd58"
         ]
      ]
   },
   {
      "id":"a4f3c51d.8bd348",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Registro",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO temperaturaaltaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1020,
      "y":3180,
      "wires":[
         [
            "28545d5e.a43122"
         ]
      ]
   },
   {
      "id":"28545d5e.a43122",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1180,
      "y":3180,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"d1f5b2ba.d2e39",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"LecturaDeTemperaturaGlobal1\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1380,
      "y":2360,
      "wires":[
         [
            "1b91cbc5.451fb4"
         ]
      ]
   },
   {
      "id":"1b91cbc5.451fb4",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1510,
      "y":2420,
      "wires":[
         [
            "24fd83de.0e419c"
         ],
         [
            "b12bc91c.de11a8"
         ]
      ]
   },
   {
      "id":"24fd83de.0e419c",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Habilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1740,
      "y":2380,
      "wires":[
         [
            "6680791a.f7e218"
         ]
      ]
   },
   {
      "id":"b12bc91c.de11a8",
      "type":"change",
      "z":"fa10062b.bcdec8",
      "name":"Deshabilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1760,
      "y":2460,
      "wires":[
         [
            "4f5179b5.bfa1e8"
         ]
      ]
   },
   {
      "id":"4f5179b5.bfa1e8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"profesorEctGlobal1\");\nlet nombre = array.nombre;\nlet noEmpleado = array.noEmpleado;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ noEmpleado + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1960,
      "y":2460,
      "wires":[
         [
            "c4616674.72f278"
         ]
      ]
   },
   {
      "id":"c4616674.72f278",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/DeshabilitadoTemperatura/Profesor/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2300,
      "y":2460,
      "wires":[
         
      ]
   },
   {
      "id":"f9927ce5.4aba9",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoDeshabilitadoTemperatura/Profesor/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":1610,
      "y":2920,
      "wires":[
         [
            "b57e1111.64ac7"
         ]
      ]
   },
   {
      "id":"b57e1111.64ac7",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":1890,
      "y":2920,
      "wires":[
         [
            "842cd738.dd1e08",
            "6c3b54c.39d14ac"
         ]
      ]
   },
   {
      "id":"8b8ad18f.41a97",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"nombre",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].nombre + \" \" + profesor[0].apellidos ;\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2820,
      "y":2820,
      "wires":[
         [
            "f1f407ff.efb7e8"
         ]
      ]
   },
   {
      "id":"9dcf7b46.d97988",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"noEmpleado",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].noEmpleado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2830,
      "y":2860,
      "wires":[
         [
            "6946a8fa.296c58"
         ]
      ]
   },
   {
      "id":"b7e4c343.8ae05",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"temperatura",
      "func":"msg.payload = 0 ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2830,
      "y":2900,
      "wires":[
         [
            "9d33ba95.636628"
         ]
      ]
   },
   {
      "id":"246dbc1d.67b484",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3230,
      "y":2940,
      "wires":[
         
      ]
   },
   {
      "id":"8558562e.1d6918",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2970,
      "y":2980,
      "wires":[
         [
            "1d362378.e9fdbd"
         ]
      ]
   },
   {
      "id":"1d362378.e9fdbd",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3200,
      "y":2980,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"52a5d3b.839e52c",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2760,
      "y":2980,
      "wires":[
         [
            "8558562e.1d6918",
            "b3648d36.77786",
            "370d6987.5ccf86"
         ]
      ]
   },
   {
      "id":"842cd738.dd1e08",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global del profesor  ",
      "func":"let profesor = msg.payload ;\nglobal.set(\"profesorDeshabilitadoGlobal1\",profesor);\n\nmsg.payload = global.get(\"profesorDeshabilitadoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2100,
      "y":2920,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"274f794d.6c1856",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2580,
      "y":3040,
      "wires":[
         
      ]
   },
   {
      "id":"6c3b54c.39d14ac",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal1\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":2980,
      "wires":[
         [
            "a154a302.0faae"
         ]
      ]
   },
   {
      "id":"a154a302.0faae",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal1",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2090,
      "y":2980,
      "wires":[
         [
            "7c2cb744.28c988",
            "31542776.e1c7b8",
            "5a171f.b2f318e",
            "748dbd33.d09cf4",
            "b7e4c343.8ae05"
         ],
         [
            "c0eccecf.3629f"
         ]
      ]
   },
   {
      "id":"c0eccecf.3629f",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2330,
      "y":3040,
      "wires":[
         [
            "274f794d.6c1856"
         ]
      ]
   },
   {
      "id":"2591f889.2db958",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Recibimos los datos de la lectura de temperatura",
      "info":"",
      "x":300,
      "y":2680,
      "wires":[
         
      ]
   },
   {
      "id":"5f7ae974.afe018",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Salida Historial",
      "func":"let profesor = global.get(\"profesorEctGlobal1\");\nlet noEmpleado = profesor.noEmpleado ;\nlet nombre = profesor.nombre;\nlet apellidos = profesor.apellidos;\nlet clave = profesor.clave ;\nlet huella = profesor.huella ;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registrosalidaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1860,
      "y":2200,
      "wires":[
         [
            "f48d9314.cbac"
         ]
      ]
   },
   {
      "id":"770b1e1c.4959e",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada Historial",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal1\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2600,
      "y":2740,
      "wires":[
         [
            "3ffc8e4.df73a72"
         ]
      ]
   },
   {
      "id":"b3648d36.77786",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\n\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2970,
      "y":3020,
      "wires":[
         [
            "1d362378.e9fdbd"
         ]
      ]
   },
   {
      "id":"2989f1dc.a277de",
      "type":"comment",
      "z":"fa10062b.bcdec8",
      "name":"Aqui",
      "info":"",
      "x":1110,
      "y":2240,
      "wires":[
         
      ]
   },
   {
      "id":"24ba057d.89afca",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"Igual",
            "vt":"str"
         },
         {
            "t":"neq",
            "v":"Igual",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1460,
      "y":2220,
      "wires":[
         [
            "34798daa.afeb52",
            "ac61ae9d.7b151",
            "9c016579.3b08c8"
         ],
         [
            "224199f5.873d66"
         ]
      ]
   },
   {
      "id":"b7c70b76.322b78",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Encontrado",
      "func":"let estado = msg.payload ;\nlet profesor = global.get(\"profesorEctGlobal1\");\nif (profesor.noEmpleado  == estado.noEmpleado ){\n    msg.payload = \"Igual\"; \n    return msg;\n}else {\n    msg.payload = \"NoIgual\"; \n    return msg;\n}\n\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1310,
      "y":2220,
      "wires":[
         [
            "24ba057d.89afca"
         ]
      ]
   },
   {
      "id":"7c6c8dde.a727f4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Profesor o Administrador saliendo",
      "func":"let profesor = global.get(\"profesorEctGlobal1\");\nlet nombre = profesor.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1880,
      "y":2240,
      "wires":[
         [
            "1f21995.b203c67"
         ]
      ]
   },
   {
      "id":"1f21995.b203c67",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Despedida/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2220,
      "y":2240,
      "wires":[
         
      ]
   },
   {
      "id":"baa0c3.ec939f4",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":860,
      "y":3180,
      "wires":[
         [
            "a4f3c51d.8bd348"
         ]
      ]
   },
   {
      "id":"b223ec47.205a1",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":620,
      "y":3180,
      "wires":[
         [
            "baa0c3.ec939f4"
         ]
      ]
   },
   {
      "id":"13654944.e553f7",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de Usuario",
      "func":"let profesor = msg.payload ;\nglobal.set(\"profesorGlobal1\",profesor);\nmsg.payload = global.get(\"profesorGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":490,
      "y":2780,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"656a9788.f359b8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1460,
      "y":2600,
      "wires":[
         [
            "3823cec.1830332"
         ]
      ]
   },
   {
      "id":"3823cec.1830332",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1760,
      "y":2600,
      "wires":[
         [
            "e47bfc7e.efdc",
            "b19ef279.9622"
         ]
      ]
   },
   {
      "id":"d431a165.de414",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2100,
      "y":2700,
      "wires":[
         [
            "489a8e12.dcd18"
         ]
      ]
   },
   {
      "id":"9d33ba95.636628",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"378ceaaa.0b7336",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Temperatura Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3200,
      "y":2660,
      "wires":[
         
      ]
   },
   {
      "id":"5596e839.d417e8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Laboratorios y Aulas",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombrePro = profesor[0].nombre + \" \"  + profesor[0].apellidos;\nlet pA = \"true\"\n\nlet ubi = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2610,
      "y":2780,
      "wires":[
         [
            "d257473.70a17b8"
         ]
      ]
   },
   {
      "id":"88684a82.129088",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Vaciar campos",
      "func":"\nmsg.payload = \" \" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2280,
      "y":2180,
      "wires":[
         [
            "f1f407ff.efb7e8",
            "9d33ba95.636628",
            "6946a8fa.296c58"
         ]
      ]
   },
   {
      "id":"7c2cb744.28c988",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del profesor",
      "func":"let profesor = global.get(\"profesorDeshabilitadoGlobal1\");\nlet noEmpleado = profesor.noEmpleado ;\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2500,
      "y":2980,
      "wires":[
         [
            "52a5d3b.839e52c"
         ]
      ]
   },
   {
      "id":"370d6987.5ccf86",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar en Laboratorios y Aulas",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombrePro = profesor[0].nombre + \" \"  + profesor[0].apellidos;\nlet pA = \"true\"\n\nlet ubi = global.get(\"UbicacionGlobal1\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3010,
      "y":3060,
      "wires":[
         [
            "ce9aaa40.5173e8"
         ]
      ]
   },
   {
      "id":"d1b0d535.50abf8",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararteclado/Profesor/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2100,
      "wires":[
         [
            "745ea326.527b4c"
         ]
      ]
   },
   {
      "id":"745ea326.527b4c",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":190,
      "y":2160,
      "wires":[
         [
            "fe034cb7.dccd4",
            "f10e3bc2.1702a8"
         ]
      ]
   },
   {
      "id":"fe034cb7.dccd4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda profesor o administrativo",
      "func":"msg.topic = \"SELECT * FROM profesoresypersonal WHERE clave = '\" + msg.payload.codigo + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":440,
      "y":2160,
      "wires":[
         [
            "35d7ba8d.f24c86"
         ]
      ]
   },
   {
      "id":"31542776.e1c7b8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorDeshabilitadoGlobal1\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2400,
      "y":2860,
      "wires":[
         [
            "9455f4b6.719ba8"
         ]
      ]
   },
   {
      "id":"9455f4b6.719ba8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2640,
      "y":2860,
      "wires":[
         [
            "8b8ad18f.41a97",
            "9dcf7b46.d97988"
         ]
      ]
   },
   {
      "id":"764613a7.18df6c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Encontrado",
      "func":"let RFID = msg.payload.RFID ;\nglobal.set(\"RFIDGlobal1\",RFID);\nlet ubi = global.get(\"UbicacionGlobal1\");\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\"+ ubi +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":330,
      "y":440,
      "wires":[
         [
            "49b0bf57.fca1e"
         ]
      ]
   },
   {
      "id":"49b0bf57.fca1e",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":500,
      "y":440,
      "wires":[
         [
            "910b195e.6a4968"
         ]
      ]
   },
   {
      "id":"910b195e.6a4968",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"busqueda profesor (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array[0].profesorAdentro == \"false\" ){\n    msg.payload = \"Desocupado\"; \n    return msg;\n}else {\n    global.set(\"EstadoGlobal1\",array[0]);\n    msg.payload = global.get(\"EstadoGlobal1\");\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":750,
      "y":440,
      "wires":[
         [
            "9cfef688.ed7af8"
         ]
      ]
   },
   {
      "id":"9cfef688.ed7af8",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"Desocupado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Desocupado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":100,
      "y":500,
      "wires":[
         [
            "cbc1a34f.81e2d"
         ],
         [
            "cb8c15fc.eba9d8"
         ]
      ]
   },
   {
      "id":"a929634a.0feb2",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":170,
      "y":440,
      "wires":[
         [
            "764613a7.18df6c"
         ]
      ]
   },
   {
      "id":"cb8c15fc.eba9d8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Alumno saliendo",
      "func":"let nombre = msg.payload.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":400,
      "y":500,
      "wires":[
         [
            "2095e085.40b8c"
         ]
      ]
   },
   {
      "id":"2095e085.40b8c",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":670,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"cdbabe4d.78c2a",
      "type":"mqtt out",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/Apertura/1",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2610,
      "y":2820,
      "wires":[
         
      ]
   },
   {
      "id":"748dbd33.d09cf4",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"temperatura",
      "func":"let valor = true ;\nmsg.payload = valor ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2310,
      "y":2820,
      "wires":[
         [
            "cdbabe4d.78c2a"
         ]
      ]
   },
   {
      "id":"704abd93.8b7a14",
      "type":"mqtt in",
      "z":"fa10062b.bcdec8",
      "name":"",
      "topic":"Gabanni/UAMazc/EstadoPuerta/1",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":210,
      "y":3320,
      "wires":[
         [
            "ed2d95d3.e80078"
         ]
      ]
   },
   {
      "id":"ed2d95d3.e80078",
      "type":"json",
      "z":"fa10062b.bcdec8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":430,
      "y":3320,
      "wires":[
         [
            "2daa1362.6d413c"
         ]
      ]
   },
   {
      "id":"2daa1362.6d413c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Variable global de Estado de la Puerta",
      "func":"let estado = msg.payload.estado ;\nglobal.set(\"estadoGlobal1\",estado);\nmsg.payload = global.get(\"estadoGlobal1\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":650,
      "y":3320,
      "wires":[
         [
            "83e8f887.5a53f8",
            "f9174549.0a4808",
            "11c6e171.900d4f",
            "3083446b.946bdc"
         ]
      ]
   },
   {
      "id":"83e8f887.5a53f8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar Estado de la Puerta",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet estado = global.get(\"estadoGlobal1\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET estadoPuerta  = '\" + estado +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":960,
      "y":3320,
      "wires":[
         [
            "636e719a.f62c8"
         ]
      ]
   },
   {
      "id":"636e719a.f62c8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1180,
      "y":3320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3ef8b5bd.bda13a",
      "type":"ui_text",
      "z":"fa10062b.bcdec8",
      "group":"378ceaaa.0b7336",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Estado de la puerta",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1270,
      "y":3380,
      "wires":[
         
      ]
   },
   {
      "id":"f9174549.0a4808",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Mesnaje TMP opcinal",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet estado = global.get(\"estadoGlobal1\");\nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nmsg.topic = \"Edo.Puerta ( \" + ubi + \")\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":940,
      "y":3420,
      "wires":[
         [
            "2b6fd7d9.d519e8"
         ]
      ]
   },
   {
      "id":"2b6fd7d9.d519e8",
      "type":"ui_toast",
      "z":"fa10062b.bcdec8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"",
      "name":"Estado Puerta",
      "x":1260,
      "y":3420,
      "wires":[
         
      ]
   },
   {
      "id":"f0b03bb.d8e52c8",
      "type":"telegram receiver",
      "z":"fa10062b.bcdec8",
      "name":"Gabanni",
      "bot":"b1e85f2c.05544",
      "saveDataDir":"",
      "filterCommands":false,
      "x":460,
      "y":3420,
      "wires":[
         [
            "2a34e4e.8c6ce1c"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"2a34e4e.8c6ce1c",
      "type":"debug",
      "z":"fa10062b.bcdec8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":630,
      "y":3420,
      "wires":[
         
      ]
   },
   {
      "id":"5f3da11.b12e86",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1500,
      "y":3520,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"4bf6089a.0148c8",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Estado de la puerta",
      "func":"let estado = global.get(\"estadoGlobal1\");\nmsg.payload = estado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":890,
      "y":3520,
      "wires":[
         [
            "101f1da2.999c42"
         ]
      ]
   },
   {
      "id":"1bcd9cac.7504c3",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos de profesor al cargar la cerradura (nombrePro)",
      "func":"let profesor = msg.payload ; \nmsg.payload = profesor[0].nombrePro ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2720,
      "y":2160,
      "wires":[
         [
            "f1f407ff.efb7e8"
         ]
      ]
   },
   {
      "id":"9ffef39f.eaa07",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos de profesor al cargar la cerradura (noEmpleado)",
      "func":"let profesor = msg.payload ; \nmsg.payload = profesor[0].noEmpleado;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2720,
      "y":2200,
      "wires":[
         [
            "6946a8fa.296c58"
         ]
      ]
   },
   {
      "id":"34975762.145d78",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos estado de la puerta al cargar la cerradura (Estado de la Puerta)",
      "func":"let puerta = msg.payload ; \nlet estado = puerta[0].estadoPuerta;\nlet ubi = global.get(\"UbicacionGlobal1\");\nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nmsg.topic = \"Edo.Puerta ( \" + ubi + \")\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1190,
      "y":3260,
      "wires":[
         [
            "2b6fd7d9.d519e8"
         ]
      ]
   },
   {
      "id":"73b1bfb2.3cec2",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Cerradura activada en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1150,
      "y":80,
      "wires":[
         [
            "b37a1fe9.062f4"
         ]
      ]
   },
   {
      "id":"b37a1fe9.062f4",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1390,
      "y":80,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"101f1da2.999c42",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Abierto/Cerrado",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"abierto",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"cerrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1080,
      "y":3520,
      "wires":[
         [
            "f24e86a2.655c28"
         ],
         [
            "69477ca.84a7384"
         ]
      ]
   },
   {
      "id":"f24e86a2.655c28",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet estado = msg.payload ;\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Puerta abierta en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":3480,
      "wires":[
         [
            "5f3da11.b12e86"
         ]
      ]
   },
   {
      "id":"69477ca.84a7384",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet estado = msg.payload ;\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Puerta cerrada en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":3560,
      "wires":[
         [
            "5f3da11.b12e86"
         ]
      ]
   },
   {
      "id":"ada0ccb3.46ee9",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":3620,
      "y":3240,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"7cda1fb0.6108a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let info = msg.payload ;\nlet ubi =  info[0].nombre ;\nlet aforoP =  info[0].aforoPermitido ;\nlet tmp =  info[0].LecturaTemperatura;\nlet profesor =  info[0].nombrePro;\n\n\nif(tmp == \"true\"){\n    tmp = \"Habilitado\";\n}else{\n     tmp = \"Deshabilitado\";\n}\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"INGRESO\" \n    + \"\\n  Ubicacion : \"+ubi+\" \"\n    + \"\\n  Aforo Permitido : \"+aforoP+\" \"\n    + \"\\n  Lectura de Temperatura : \"+tmp+\" \"\n    + \"\\n  Nombre : \"+ profesor +\" \"\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3390,
      "y":3240,
      "wires":[
         [
            "ada0ccb3.46ee9"
         ]
      ]
   },
   {
      "id":"745a214a.ccdbc",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del Lab",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.payload = ubi;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3520,
      "y":3140,
      "wires":[
         [
            "9ad0fb25.06b238"
         ]
      ]
   },
   {
      "id":"9ad0fb25.06b238",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3500,
      "y":3180,
      "wires":[
         [
            "7cda1fb0.6108a"
         ]
      ]
   },
   {
      "id":"ce9aaa40.5173e8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3220,
      "y":3060,
      "wires":[
         [
            "eb5ff37.8875a1"
         ]
      ]
   },
   {
      "id":"629cb46e.4b017c",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Obtengo informacion del Lab",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nmsg.payload = ubi;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2400,
      "y":2060,
      "wires":[
         [
            "19459b6b.6e6115"
         ]
      ]
   },
   {
      "id":"19459b6b.6e6115",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1940,
      "y":2000,
      "wires":[
         [
            "245246bf.f2565a"
         ]
      ]
   },
   {
      "id":"245246bf.f2565a",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let info = msg.payload ;\nlet ubi =  info[0].nombre ;\nlet aforoP =  info[0].aforoPermitido ;\nlet tmp =  info[0].LecturaTemperatura;\nlet profesor =  info[0].nombrePro;\n\nif(tmp == \"true\"){\n    tmp = \"Habilitado\";\n}else{\n     tmp = \"Deshabilitado\";\n}\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"SALIDA\" \n    + \"\\n  Ubicacion : \"+ubi+\" \"\n    + \"\\n  Nombre : \"+profesor+\" \"\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2110,
      "y":2000,
      "wires":[
         [
            "96e4d958.4f4f28"
         ]
      ]
   },
   {
      "id":"96e4d958.4f4f28",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":2320,
      "y":2000,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"80b2b664.882f28",
      "type":"ui_switch",
      "z":"fa10062b.bcdec8",
      "name":"",
      "label":"Notificaciones",
      "tooltip":"",
      "group":"2c8bf412.27520c",
      "order":6,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":1800,
      "y":460,
      "wires":[
         [
            "b32563b.bd31aa",
            "2dae9eee.3fb742"
         ]
      ]
   },
   {
      "id":"b32563b.bd31aa",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Insertar Opcion Temperatura",
      "func":"let ubi = global.get(\"UbicacionGlobal1\");\nlet op = msg.payload;\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET notificaciones = '\" + op +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2040,
      "y":460,
      "wires":[
         [
            "d5d58abc.d488b8"
         ]
      ]
   },
   {
      "id":"d5d58abc.d488b8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2240,
      "y":460,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1dfb2f87.1b3d5",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Opcion Notificaciones",
      "func":"let op = msg.payload[0].notificaciones;\nmsg.payload = op;\nlet num  = false ;\nif ( op == \"true\"){\n    num = true ;\n}else {\n    num = false ;\n}\nmsg.payload = num;\nmsg.topic = \"Notificaciones\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1140,
      "y":380,
      "wires":[
         [
            "80b2b664.882f28"
         ]
      ]
   },
   {
      "id":"47ad5d1f.bf8b04",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Mesnaje notificacion opcional",
      "func":"let temp = msg.payload ;\nif ( temp == 1){\n    msg.payload = \"Notificaciones habilitada\" ;\n}else{\n    msg.payload = \"Notificaciones deshabilitada\";\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1960,
      "y":560,
      "wires":[
         [
            "1cb55c8e.a950f3"
         ]
      ]
   },
   {
      "id":"1cb55c8e.a950f3",
      "type":"ui_toast",
      "z":"fa10062b.bcdec8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"Notificacion",
      "name":"Notificacion",
      "x":2190,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"2dae9eee.3fb742",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Indicacion de notificacion opcional",
      "func":"let temp = msg.payload ;\nglobal.set(\"NotificacionGlobal1\",temp);\nmsg.payload = global.get(\"NotificacionGlobal1\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2060,
      "y":500,
      "wires":[
         [
            "47ad5d1f.bf8b04"
         ]
      ]
   },
   {
      "id":"8438c16a.c1fe5",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":600,
      "y":3560,
      "wires":[
         [
            "4bf6089a.0148c8"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"11c6e171.900d4f",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal1\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":550,
      "y":3500,
      "wires":[
         [
            "8438c16a.c1fe5"
         ]
      ]
   },
   {
      "id":"eb5ff37.8875a1",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal1\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3490,
      "y":3060,
      "wires":[
         [
            "55f4812f.fa3b7"
         ]
      ]
   },
   {
      "id":"55f4812f.fa3b7",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":3260,
      "y":3140,
      "wires":[
         [
            "745a214a.ccdbc"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"ac61ae9d.7b151",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal1\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1850,
      "y":2060,
      "wires":[
         [
            "8c0b5eeb.b0101"
         ]
      ]
   },
   {
      "id":"8c0b5eeb.b0101",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2160,
      "y":2060,
      "wires":[
         [
            "629cb46e.4b017c"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"9c016579.3b08c8",
      "type":"delay",
      "z":"fa10062b.bcdec8",
      "name":"",
      "pauseType":"delay",
      "timeout":"10",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":1630,
      "y":2220,
      "wires":[
         [
            "5f7ae974.afe018",
            "7c6c8dde.a727f4",
            "d03f6025.bb1a2",
            "36773eb8.41fde2"
         ]
      ]
   },
   {
      "id":"f10e3bc2.1702a8",
      "type":"debug",
      "z":"fa10062b.bcdec8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":810,
      "y":2140,
      "wires":[
         
      ]
   },
   {
      "id":"410b2258.c7898c",
      "type":"debug",
      "z":"fa10062b.bcdec8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":850,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"58c8c5d2.423fec",
      "type":"switch",
      "z":"fa10062b.bcdec8",
      "name":"Decicion correo tempertaura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1540,
      "y":1500,
      "wires":[
         [
            
         ],
         [
            "86eeaa24.529318"
         ]
      ]
   },
   {
      "id":"315ee252.08b36e",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Lectura de temperatura",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1250,
      "y":1500,
      "wires":[
         [
            "58c8c5d2.423fec"
         ]
      ]
   },
   {
      "id":"ab91d384.63efb",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":2010,
      "y":1500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"15026920.852897",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let array = global.get(\"profesorGlobal1\");\nlet ubi = global.get(\"UbicacionGlobal1\");\nlet temperatura =  array.temperatura;\nlet nombre =  array.nombre;\nglobal.temp = temperatura;\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Temperatura corporal Alta !!!, La temperatura corporal del usuario \" + nombre + \"es de : \" + temperatura +\" en \" + ubi\n}\n\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1090,
      "y":3120,
      "wires":[
         [
            "82004879.a55b08"
         ]
      ]
   },
   {
      "id":"82004879.a55b08",
      "type":"telegram sender",
      "z":"fa10062b.bcdec8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1310,
      "y":3120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"86eeaa24.529318",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"Datos del mensaje",
      "func":"let array = global.get(\"alumnoGlobal1\");\nlet ubi = global.get(\"UbicacionGlobal1\");\nlet temperatura =  array.temperatura;\nlet nombre =  array.nombre;\nglobal.temp = temperatura;\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Temperatura coorporal Alta !!!, La temperatura corporal del usuario \" + nombre + \"es de :\" + temperatura +\" en \" + ubi\n}\n\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1790,
      "y":1500,
      "wires":[
         [
            "ab91d384.63efb"
         ]
      ]
   },
   {
      "id":"830f9b10.3fe668",
      "type":"debug",
      "z":"fa10062b.bcdec8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":830,
      "y":3020,
      "wires":[
         
      ]
   },
   {
      "id":"3083446b.946bdc",
      "type":"function",
      "z":"fa10062b.bcdec8",
      "name":"",
      "func":"let estado = msg.payload ; \nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":3380,
      "wires":[
         [
            "3ef8b5bd.bda13a"
         ]
      ]
   },
   {
      "id":"498c96f.2406b68",
      "type":"debug",
      "z":"fa10062b.bcdec8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":2050,
      "y":1040,
      "wires":[
         
      ]
   },
   {
      "id":"d257473.70a17b8",
      "type":"mysql",
      "z":"fa10062b.bcdec8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2840,
      "y":2780,
      "wires":[
         [
            "eb5ff37.8875a1"
         ]
      ]
   },
   {
      "id":"3d1dda04.d53f36",
      "type":"ui_group",
      "name":"Ultimo usuario accedido",
      "tab":"94b26ceb.04691",
      "order":2,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"2c8bf412.27520c",
      "type":"ui_group",
      "name":"Control -  Laboratorio de Diseño Logico",
      "tab":"94b26ceb.04691",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3f8d4146.cd37fe",
      "type":"mqtt-broker",
      "name":"Gos",
      "broker":"localhost",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"6cf09c01.dd67a4",
      "type":"MySQLdatabase",
      "name":"",
      "host":"127.0.0.1",
      "port":"3306",
      "db":"cerradura",
      "tz":"",
      "charset":"UTF8"
   },
   {
      "id":"9024296.b4fb6d8",
      "type":"mqtt-broker",
      "name":"",
      "broker":"localhost",
      "port":"1883",
      "clientid":"GiovanniOlmos-SIC-2398",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"fc79d744.6ed698",
      "type":"ui_group",
      "name":"Ingresos",
      "tab":"94b26ceb.04691",
      "order":4,
      "disp":true,
      "width":"10",
      "collapse":false
   },
   {
      "id":"7581af59.f392c",
      "type":"ui_group",
      "name":"Salidas",
      "tab":"94b26ceb.04691",
      "order":5,
      "disp":true,
      "width":"10",
      "collapse":false
   },
   {
      "id":"378ceaaa.0b7336",
      "type":"ui_group",
      "name":"Informacion del Profesor o Administrativo",
      "tab":"94b26ceb.04691",
      "order":7,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"b1e85f2c.05544",
      "type":"telegram bot",
      "botname":"Gabanni",
      "usernames":"",
      "chatids":"",
      "baseapiurl":"",
      "updatemode":"polling",
      "pollinterval":"300",
      "usesocks":false,
      "sockshost":"",
      "socksport":"6667",
      "socksusername":"anonymous",
      "sockspassword":"",
      "bothost":"",
      "botpath":"",
      "localbotport":"8443",
      "publicbotport":"8443",
      "privatekey":"",
      "certificate":"",
      "useselfsignedcertificate":false,
      "sslterminated":false,
      "verboselogging":false
   },
   {
      "id":"94b26ceb.04691",
      "type":"ui_tab",
      "name":"Laboratorio de Diseño Logico",
      "icon":"dashboard",
      "order":4,
      "disabled":false,
      "hidden":false
   }
]