Node Red/Lab_0_Cerradura.json
[
   {
      "id":"f7ff6536.244cc8",
      "type":"tab",
      "label":"Laboratorio de Sistemas Digitales",
      "disabled":false,
      "info":""
   },
   {
      "id":"eebdab2.549f258",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion de Temperatura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":870,
      "y":1380,
      "wires":[
         [
            "d5366c2f.92e89"
         ],
         [
            "cc69d86b.2dcce8"
         ]
      ]
   },
   {
      "id":"cc69d86b.2dcce8",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Temperatura alta",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":990,
      "y":1440,
      "wires":[
         [
            "b96b6c73.f006e",
            "a8295a2d.1bef68",
            "da014ec9.d1161"
         ]
      ]
   },
   {
      "id":"d5366c2f.92e89",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Temperatura adecuada",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1230,
      "y":1180,
      "wires":[
         [
            "bd383806.af72d8",
            "779e520.7ecafb",
            "eea3bb9d.c399f8",
            "aa7dc412.4da5f8",
            "e606f3b1.3c18d",
            "c43f5dba.eb144"
         ]
      ]
   },
   {
      "id":"25111679.784c2a",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":210,
      "y":1360,
      "wires":[
         [
            "2eddba24.1e2af6",
            "2f3178f8.bc4038"
         ]
      ]
   },
   {
      "id":"879092ef.e790b",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"92cab881.5485c8",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Nombre",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2740,
      "y":1100,
      "wires":[
         
      ]
   },
   {
      "id":"aa7dc412.4da5f8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"nombre",
      "func":"let array = global.get(\"alumnoGlobal0\");\nmsg.payload = array.nombre\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1100,
      "wires":[
         [
            "879092ef.e790b"
         ]
      ]
   },
   {
      "id":"8a077150.4a5b6",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"92cab881.5485c8",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Matricula",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2740,
      "y":1140,
      "wires":[
         
      ]
   },
   {
      "id":"eea3bb9d.c399f8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"matricula",
      "func":"let array = global.get(\"alumnoGlobal0\");\nmsg.payload = array.matricula\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1140,
      "wires":[
         [
            "8a077150.4a5b6"
         ]
      ]
   },
   {
      "id":"83eb5d93.3659c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforo = 0 ;\nglobal.set(\"AforoGlobal0\",GlobalAforo);\n\nmsg.payload = global.get(\"AforoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1490,
      "y":940,
      "wires":[
         [
            "b51dea6.6c70718",
            "ca838e96.ee4a8"
         ]
      ]
   },
   {
      "id":"b51dea6.6c70718",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"829fea5b.a88bf8",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Aforo Actual",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1730,
      "y":840,
      "wires":[
         
      ]
   },
   {
      "id":"779e520.7ecafb",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"ubicacion",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.payload = ubi;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2180,
      "y":1180,
      "wires":[
         [
            "c252299d.31d638"
         ]
      ]
   },
   {
      "id":"c252299d.31d638",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"92cab881.5485c8",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Area",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":2730,
      "y":1180,
      "wires":[
         
      ]
   },
   {
      "id":"abde14de.3f97d8",
      "type":"ui_slider",
      "z":"f7ff6536.244cc8",
      "name":"Aforo permitido slide",
      "label":"Aforo permitido ",
      "tooltip":"",
      "group":"829fea5b.a88bf8",
      "order":4,
      "width":0,
      "height":0,
      "passthru":true,
      "outs":"all",
      "topic":"topic",
      "topicType":"msg",
      "min":"1",
      "max":"40",
      "step":1,
      "x":1360,
      "y":160,
      "wires":[
         [
            "9524bc2c.0ba74"
         ]
      ]
   },
   {
      "id":"2b2a8e86.21e3c2",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"829fea5b.a88bf8",
      "order":3,
      "width":0,
      "height":0,
      "name":"",
      "label":"Aforo permitido",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1860,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"9524bc2c.0ba74",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforoPermitido = msg.payload ;\nglobal.set(\"AforoPermitidoGlobal0\",GlobalAforoPermitido);\n\nmsg.payload = global.get(\"AforoPermitidoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1610,
      "y":160,
      "wires":[
         [
            "2b2a8e86.21e3c2",
            "a8827ec5.f7d78",
            "1f77390f.297457"
         ]
      ]
   },
   {
      "id":"bd383806.af72d8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo +1",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo += 1 ;\n\nglobal.set(\"AforoGlobal0\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1440,
      "y":860,
      "wires":[
         [
            "b51dea6.6c70718",
            "ca838e96.ee4a8"
         ]
      ]
   },
   {
      "id":"f3fd67b7.cff208",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":580,
      "y":1500,
      "wires":[
         
      ]
   },
   {
      "id":"a7398dd4.52b0e",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":650,
      "y":1440,
      "wires":[
         [
            "f3fd67b7.cff208"
         ]
      ]
   },
   {
      "id":"2f3178f8.bc4038",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de Usuario",
      "func":"let alumno = msg.payload ;\nglobal.set(\"alumnoGlobal0\",alumno);\n\nmsg.payload = global.get(\"alumnoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":1360,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"104a5931.7585d7",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":410,
      "y":1420,
      "wires":[
         [
            "1364d3e6.c1c82c"
         ],
         [
            "a7398dd4.52b0e"
         ]
      ]
   },
   {
      "id":"2eddba24.1e2af6",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":210,
      "y":1420,
      "wires":[
         [
            "104a5931.7585d7"
         ]
      ]
   },
   {
      "id":"e606f3b1.3c18d",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"temperatura",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2190,
      "y":1240,
      "wires":[
         [
            "7ac992.434dd67",
            "e1f4fc0f.2f752"
         ]
      ]
   },
   {
      "id":"7ac992.434dd67",
      "type":"ui_gauge",
      "z":"f7ff6536.244cc8",
      "name":"",
      "group":"92cab881.5485c8",
      "order":10,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Temperatura corporal",
      "label":"centigrados",
      "format":"{{value}}",
      "min":0,
      "max":"43",
      "colors":[
         "#e6e600",
         "#44ff00",
         "#ff0000"
      ],
      "seg1":"35",
      "seg2":"37.5",
      "x":2780,
      "y":1220,
      "wires":[
         
      ]
   },
   {
      "id":"e1f4fc0f.2f752",
      "type":"ui_chart",
      "z":"f7ff6536.244cc8",
      "name":"Temperaturas de usuarios",
      "group":"92cab881.5485c8",
      "order":11,
      "width":0,
      "height":0,
      "label":"Temperaturas de usuarios",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"60",
      "removeOlder":"1",
      "removeOlderPoints":"1000",
      "removeOlderUnit":"86400",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":2790,
      "y":1260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1364d3e6.c1c82c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo disponible",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":660,
      "y":1380,
      "wires":[
         [
            "eebdab2.549f258"
         ]
      ]
   },
   {
      "id":"93db46c3.024578",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/TemperaturaAlta/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1560,
      "y":1440,
      "wires":[
         
      ]
   },
   {
      "id":"b96b6c73.f006e",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aviso de temperatura alta",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Temperatura Alta \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1250,
      "y":1440,
      "wires":[
         [
            "93db46c3.024578"
         ]
      ]
   },
   {
      "id":"44d1cadd.7f1864",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3050,
      "y":1320,
      "wires":[
         
      ]
   },
   {
      "id":"1d9335c1.36480a",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2670,
      "y":1320,
      "wires":[
         [
            "d7c1031d.2fe04"
         ]
      ]
   },
   {
      "id":"d7c1031d.2fe04",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2860,
      "y":1320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a8827ec5.f7d78",
      "type":"ui_chart",
      "z":"f7ff6536.244cc8",
      "name":"",
      "group":"829fea5b.a88bf8",
      "order":5,
      "width":0,
      "height":0,
      "label":"Aforo permitio",
      "chartType":"radar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"1",
      "ymax":"40",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"0",
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#ff1900",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":1860,
      "y":180,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f9864e2.a6b4fb",
      "type":"ui_button",
      "z":"f7ff6536.244cc8",
      "name":"",
      "group":"829fea5b.a88bf8",
      "order":11,
      "width":"0",
      "height":"0",
      "passthru":false,
      "label":"Reset aforo",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"topic",
      "topicType":"msg",
      "x":1250,
      "y":940,
      "wires":[
         [
            "83eb5d93.3659c"
         ]
      ]
   },
   {
      "id":"8c91767d.c2cdb8",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararRFID/Alumno/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":260,
      "y":380,
      "wires":[
         [
            "237b4f06.998fb"
         ]
      ]
   },
   {
      "id":"b579db08.d72a18",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda alumno",
      "func":"let RFID = global.get(\"RFIDGlobal0\");\nmsg.topic = \"SELECT * FROM alumnos where RFID = '\" + RFID + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":560,
      "wires":[
         [
            "f7471f9d.68154"
         ]
      ]
   },
   {
      "id":"f7471f9d.68154",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":220,
      "y":620,
      "wires":[
         [
            "68a7d455.c9bbec"
         ]
      ]
   },
   {
      "id":"68a7d455.c9bbec",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"resultado alumno",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let alumno = array[0]; \n    global.set(\"alumnoEctGlobal0\",alumno);\n    msg.payload = global.get(\"alumnoEctGlobal0\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":430,
      "y":620,
      "wires":[
         [
            "3741aacd.e375a6"
         ]
      ]
   },
   {
      "id":"6287e9fb.6c53c8",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Comprobar password RFID en BD Alumnos",
      "info":"Esta fucnion recibe el numero de identificacion RFID\ndel alumno que desea ingresar, en caso de que la encunetre nos da la informacion del alumno, en caso contrario nos devuelve un \"No encontrado\"",
      "x":250,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"334b3073.a2c67",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":680,
      "y":760,
      "wires":[
         
      ]
   },
   {
      "id":"3741aacd.e375a6",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":220,
      "y":720,
      "wires":[
         [
            "865d96e8.4e8308"
         ],
         [
            "a47e1341.4499d"
         ]
      ]
   },
   {
      "id":"a47e1341.4499d",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"No encontrado",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":420,
      "y":760,
      "wires":[
         [
            "334b3073.a2c67"
         ]
      ]
   },
   {
      "id":"f434acce.22853",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/LecturaTemperatura/Alumno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2240,
      "y":680,
      "wires":[
         
      ]
   },
   {
      "id":"18330a4.91cb2f6",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"alumnoEctGlobal0\");\nlet nombre = array.nombre;\nlet matricula = array.matricula;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ matricula + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1880,
      "y":680,
      "wires":[
         [
            "f434acce.22853"
         ]
      ]
   },
   {
      "id":"865d96e8.4e8308",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Encontrado",
      "func":"//let ubi = global.get(\"UbicacionGlobal0\");\n//msg.topic = \"SELECT * FROM registroentradaalumnos where RFID = '\"+ msg.payload.RFID +\"' AND area = '\" + ubi + \"'\";\n\nmsg.topic = \"SELECT * FROM registroentradaalumnos where RFID = '\"+ msg.payload.RFID +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":410,
      "y":700,
      "wires":[
         [
            "876b0198.5bbc2"
         ]
      ]
   },
   {
      "id":"cac7229a.68c7",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1120,
      "y":700,
      "wires":[
         [
            "395724c7.79ebec",
            "b09d0f76.c7b17",
            "7821c5ce.461b5c",
            "7f78be95.4a3ca",
            "e39fc6ae.8ae5c8"
         ],
         [
            "362ba2cf.8123fe"
         ]
      ]
   },
   {
      "id":"876b0198.5bbc2",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":580,
      "y":700,
      "wires":[
         [
            "aa724fd0.12221"
         ]
      ]
   },
   {
      "id":"aa724fd0.12221",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda alumno (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let alumno = array[0]; \n    global.set(\"alumnoGlobal0\",alumno);\n    msg.payload = global.get(\"alumnoGlobal0\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; \n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":850,
      "y":700,
      "wires":[
         [
            "cac7229a.68c7"
         ]
      ]
   },
   {
      "id":"b31ab73c.54c4c8",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoTemperatura/Alumno/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":240,
      "y":1300,
      "wires":[
         [
            "25111679.784c2a"
         ]
      ]
   },
   {
      "id":"c43f5dba.eb144",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2250,
      "y":1320,
      "wires":[
         [
            "9e31f5d2.8a17e8"
         ]
      ]
   },
   {
      "id":"9e31f5d2.8a17e8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2480,
      "y":1320,
      "wires":[
         [
            "1d9335c1.36480a",
            "a4f60045.f8c42"
         ]
      ]
   },
   {
      "id":"395724c7.79ebec",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Salida",
      "func":"let RFID = msg.payload.RFID;\nlet matricula = msg.payload.matricula;\nlet nombre = msg.payload.nombre;\nlet apellidos = msg.payload.apellidos;\nlet area = msg.payload.area;\n\n\nmsg.topic = \"INSERT INTO registrosalidaalumnos (RFID, matricula, nombre, apellidos,  area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":480,
      "wires":[
         [
            "32f6092b.ee20f6"
         ]
      ]
   },
   {
      "id":"32f6092b.ee20f6",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1600,
      "y":500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"b09d0f76.c7b17",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Eliminar de Entrada",
      "func":"let RFID = msg.payload.RFID;\nmsg.topic = \"DELETE FROM registroentradaalumnos where RFID = '\"+ RFID +\"'\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":520,
      "wires":[
         [
            "32f6092b.ee20f6"
         ]
      ]
   },
   {
      "id":"2e639b58.e35494",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Despedida/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1640,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"7821c5ce.461b5c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Alumno saliendo",
      "func":"let nombre = msg.payload.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1370,
      "y":560,
      "wires":[
         [
            "2e639b58.e35494"
         ]
      ]
   },
   {
      "id":"7f78be95.4a3ca",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo -1",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo -= 1 ;\n\nglobal.set(\"AforoGlobal0\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1440,
      "y":800,
      "wires":[
         [
            "b51dea6.6c70718",
            "ca838e96.ee4a8"
         ]
      ]
   },
   {
      "id":"c8fe28f1.c02f48",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Registro",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO temperaturaaltaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1620,
      "y":1580,
      "wires":[
         [
            "76b52182.f123"
         ]
      ]
   },
   {
      "id":"76b52182.f123",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1780,
      "y":1580,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a8295a2d.1bef68",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":1580,
      "wires":[
         [
            "75d6ad57.1f9c84"
         ]
      ]
   },
   {
      "id":"75d6ad57.1f9c84",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1480,
      "y":1580,
      "wires":[
         [
            "c8fe28f1.c02f48"
         ]
      ]
   },
   {
      "id":"246e5ff3.ff1e7",
      "type":"ui_switch",
      "z":"f7ff6536.244cc8",
      "name":"",
      "label":"Habilitar/Deshabilitar  Lectura de temperatura ",
      "tooltip":"",
      "group":"829fea5b.a88bf8",
      "order":6,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":1510,
      "y":320,
      "wires":[
         [
            "751e7249.d831fc",
            "63d6d917.65d148"
         ]
      ]
   },
   {
      "id":"751e7249.d831fc",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Indicacion de TMP opcional",
      "func":"let temp = msg.payload ;\nglobal.set(\"LecturaDeTemperaturaGlobal0\",temp);\nmsg.payload = global.get(\"LecturaDeTemperaturaGlobal0\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":340,
      "wires":[
         [
            "f5b7a3ce.c48a1"
         ]
      ]
   },
   {
      "id":"362ba2cf.8123fe",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"LecturaDeTemperaturaGlobal0\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1420,
      "y":660,
      "wires":[
         [
            "29d8e84.4e61918"
         ]
      ]
   },
   {
      "id":"29d8e84.4e61918",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1470,
      "y":720,
      "wires":[
         [
            "b16f291c.595538"
         ],
         [
            "62bcc5dc.e6249c"
         ]
      ]
   },
   {
      "id":"3df7da13.45e026",
      "type":"ui_toast",
      "z":"f7ff6536.244cc8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"",
      "name":"Tempertaura",
      "x":2030,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"b16f291c.595538",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Habilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1700,
      "y":680,
      "wires":[
         [
            "18330a4.91cb2f6"
         ]
      ]
   },
   {
      "id":"62bcc5dc.e6249c",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Deshabilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1720,
      "y":760,
      "wires":[
         [
            "71d1c344.92bb1c"
         ]
      ]
   },
   {
      "id":"71d1c344.92bb1c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"alumnoEctGlobal0\");\nlet nombre = array.nombre;\nlet matricula = array.matricula;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ matricula + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1920,
      "y":760,
      "wires":[
         [
            "8a77cd32.ab0c3"
         ]
      ]
   },
   {
      "id":"8a77cd32.ab0c3",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/DeshabilitadoTemperatura/Alumno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2250,
      "y":760,
      "wires":[
         
      ]
   },
   {
      "id":"23382fb2.19803",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoDeshabilitadoTemperatura/Alumno/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":1600,
      "y":980,
      "wires":[
         [
            "dcc7a6eb.3359d8"
         ]
      ]
   },
   {
      "id":"dcc7a6eb.3359d8",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":1890,
      "y":980,
      "wires":[
         [
            "6921c776.b44128",
            "c7754bd2.1d2188"
         ]
      ]
   },
   {
      "id":"fc282a07.b390f8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"nombre",
      "func":"let alumno = global.get(\"alumnoDeshabilitadoGlobal0\");\nlet nombre = alumno.nombre ;\nmsg.payload = nombre ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1080,
      "wires":[
         [
            "879092ef.e790b"
         ]
      ]
   },
   {
      "id":"74f27ca8.c6cd94",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"matricula",
      "func":"let alumno = global.get(\"alumnoDeshabilitadoGlobal0\");\nlet matricula = alumno.matricula ;\nmsg.payload = matricula ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1120,
      "wires":[
         [
            "8a077150.4a5b6"
         ]
      ]
   },
   {
      "id":"953c963c.37cd28",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"ubicacion",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.payload = ubi;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2440,
      "y":1160,
      "wires":[
         [
            "c252299d.31d638"
         ]
      ]
   },
   {
      "id":"e006f803.b0bda8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"temperatura",
      "func":"msg.payload = 0 ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2450,
      "y":1200,
      "wires":[
         [
            "7ac992.434dd67",
            "e1f4fc0f.2f752"
         ]
      ]
   },
   {
      "id":"4e7b8a77.354244",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3230,
      "y":1020,
      "wires":[
         
      ]
   },
   {
      "id":"fa34bea8.99032",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnos (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2890,
      "y":1020,
      "wires":[
         [
            "55b70dc4.9b0ef4"
         ]
      ]
   },
   {
      "id":"55b70dc4.9b0ef4",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3060,
      "y":1020,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a9e4520d.25891",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del alumno",
      "func":"let array = global.get(\"alumnoDeshabilitadoGlobal0\");\nlet matricula = array.matricula\nmsg.topic = \"SELECT * FROM alumnos where matricula = '\" + matricula + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2510,
      "y":1020,
      "wires":[
         [
            "7bcb4d0f.b50e34"
         ]
      ]
   },
   {
      "id":"7bcb4d0f.b50e34",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2720,
      "y":1020,
      "wires":[
         [
            "fa34bea8.99032",
            "d30f2728.fa7588"
         ]
      ]
   },
   {
      "id":"6921c776.b44128",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de Usuario",
      "func":"let alumno = msg.payload ;\nglobal.set(\"alumnoDeshabilitadoGlobal0\",alumno);\n\nmsg.payload = global.get(\"alumnoDeshabilitadoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2130,
      "y":940,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f5b7a3ce.c48a1",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Mesnaje TMP opcional",
      "func":"let temp = msg.payload ;\n msg.topic = \"Temperatura\";\nif ( temp == 1){\n    msg.payload = \"Lectura de temperatura habilitada\" ;\n}else{\n    msg.payload = \"Lectura de temperatura deshabilitada\";\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":400,
      "wires":[
         [
            "3df7da13.45e026"
         ]
      ]
   },
   {
      "id":"cefd7ca5.07af5",
      "type":"ui_table",
      "z":"f7ff6536.244cc8",
      "group":"feeef7f9.470b08",
      "name":"",
      "order":1,
      "width":"10",
      "height":"10",
      "columns":[
         {
            "field":"RFID",
            "title":"RFID",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"matricula",
            "title":"Matricula",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"nombre",
            "title":"Nombre",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"apellidos",
            "title":"Apellidos",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temperatura",
            "title":"Temperatura",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"area",
            "title":"Area",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"fecha",
            "title":"Fecha",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":1,
      "cts":true,
      "x":1050,
      "y":1700,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"404ce4f6.cbff2c",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Historial entrada",
      "info":"",
      "x":200,
      "y":1700,
      "wires":[
         
      ]
   },
   {
      "id":"3853756e.8d016a",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.topic = \"SELECT * FROM registroentradaalumnos WHERE area = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":580,
      "y":1700,
      "wires":[
         [
            "9c09a9c8.8ffef8"
         ]
      ]
   },
   {
      "id":"9c09a9c8.8ffef8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":740,
      "y":1700,
      "wires":[
         [
            "88607e58.ed816"
         ]
      ]
   },
   {
      "id":"88607e58.ed816",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"",
      "func":"let d = msg.payload\nmsg.payload = d;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":1700,
      "wires":[
         [
            "cefd7ca5.07af5"
         ]
      ]
   },
   {
      "id":"b5a0c743.dc94b8",
      "type":"inject",
      "z":"f7ff6536.244cc8",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"5",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":410,
      "y":1700,
      "wires":[
         [
            "3853756e.8d016a"
         ]
      ]
   },
   {
      "id":"606420bb.e8aab",
      "type":"ui_table",
      "z":"f7ff6536.244cc8",
      "group":"98104ae6.b93c88",
      "name":"",
      "order":1,
      "width":"10",
      "height":"10",
      "columns":[
         {
            "field":"RFID",
            "title":"RFID",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"matricula",
            "title":"Matricula",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"nombre",
            "title":"Nombre",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"apellidos",
            "title":"Apellidos",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"area",
            "title":"Area",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"fecha",
            "title":"Fecha",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":1,
      "cts":true,
      "x":1050,
      "y":1760,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"dbf0141c.8d4218",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Historial salida",
      "info":"",
      "x":200,
      "y":1760,
      "wires":[
         
      ]
   },
   {
      "id":"13086352.250bad",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.topic = \"SELECT * FROM registrosalidaalumnos WHERE area = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":580,
      "y":1760,
      "wires":[
         [
            "5e6cc12d.cb377"
         ]
      ]
   },
   {
      "id":"5e6cc12d.cb377",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":740,
      "y":1760,
      "wires":[
         [
            "37e329d.31ee4d6"
         ]
      ]
   },
   {
      "id":"37e329d.31ee4d6",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"",
      "func":"let d = msg.payload\nmsg.payload = d;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":1760,
      "wires":[
         [
            "606420bb.e8aab"
         ]
      ]
   },
   {
      "id":"d39b311d.403d1",
      "type":"inject",
      "z":"f7ff6536.244cc8",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"5",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":410,
      "y":1760,
      "wires":[
         [
            "13086352.250bad"
         ]
      ]
   },
   {
      "id":"fc1c2659.f67f08",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2600,
      "y":940,
      "wires":[
         
      ]
   },
   {
      "id":"c7754bd2.1d2188",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":1040,
      "wires":[
         [
            "55275cdd.473244",
            "84d59821.7afa08"
         ]
      ]
   },
   {
      "id":"55275cdd.473244",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2130,
      "y":980,
      "wires":[
         [
            "fc282a07.b390f8",
            "74f27ca8.c6cd94",
            "953c963c.37cd28",
            "e006f803.b0bda8",
            "a9e4520d.25891",
            "bd383806.af72d8"
         ],
         [
            "b8e25e55.a71e6"
         ]
      ]
   },
   {
      "id":"b8e25e55.a71e6",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2350,
      "y":940,
      "wires":[
         [
            "fc1c2659.f67f08"
         ]
      ]
   },
   {
      "id":"df390266.19b34",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Ubicacion/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":230,
      "y":200,
      "wires":[
         [
            "988c891a.94f928"
         ]
      ]
   },
   {
      "id":"caa3435b.25b62",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"829fea5b.a88bf8",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Ubicacion",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":840,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"988c891a.94f928",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":430,
      "y":200,
      "wires":[
         [
            "6fbec07b.b2875"
         ]
      ]
   },
   {
      "id":"6fbec07b.b2875",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"funcion Ubicacion",
      "func":"let Ubicacion = msg.payload.ubicacion ;\nglobal.set(\"UbicacionGlobal0\",Ubicacion);\nmsg.payload = global.get(\"UbicacionGlobal0\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":610,
      "y":200,
      "wires":[
         [
            "caa3435b.25b62",
            "729937df.ebbe38",
            "9af2f9fb.1e8188"
         ]
      ]
   },
   {
      "id":"161e73c3.4263cc",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Ubicacion",
      "info":"En este topic, la cerradura nos manda su ubicacion en donde esta instalado(laboratorio), y convertimos la variable en global",
      "x":160,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"7143f812.55aaf8",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Cerradura 0 (Laboratorio de Sistemas Digitales)",
      "info":"",
      "x":1180,
      "y":40,
      "wires":[
         
      ]
   },
   {
      "id":"daf2297b.843008",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Lectura de temperatura opcional",
      "info":"",
      "x":1470,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"d10f86f5.aaf558",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Recibimos los datos de la lectura de temperatura",
      "info":"",
      "x":240,
      "y":1260,
      "wires":[
         
      ]
   },
   {
      "id":"65a758dd.503dd8",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Aforo",
      "info":"",
      "x":1310,
      "y":120,
      "wires":[
         
      ]
   },
   {
      "id":"e39fc6ae.8ae5c8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Salida Historial",
      "func":"let RFID = msg.payload.RFID;\nlet matricula = msg.payload.matricula;\nlet nombre = msg.payload.nombre;\nlet apellidos = msg.payload.apellidos;\nlet area = msg.payload.area;\n\n\nmsg.topic = \"INSERT INTO registrosalidaalumnoshistorial (RFID, matricula, nombre, apellidos,  area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1400,
      "y":440,
      "wires":[
         [
            "32f6092b.ee20f6"
         ]
      ]
   },
   {
      "id":"a4f60045.f8c42",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\n\nlet array = global.get(\"alumnoGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnoshistorial (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2670,
      "y":1360,
      "wires":[
         [
            "d7c1031d.2fe04"
         ]
      ]
   },
   {
      "id":"d30f2728.fa7588",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let alumno  = msg.payload;\nlet RFID = alumno[0].RFID ;\nlet matricula = alumno[0].matricula;\nlet nombre = alumno[0].nombre;\nlet apellidos = alumno[0].apellidos ;\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaalumnoshistorial (RFID, matricula, nombre, apellidos, temperatura, area) VALUES ('\"+ RFID +\"','\"+ matricula +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2890,
      "y":1060,
      "wires":[
         [
            "55b70dc4.9b0ef4"
         ]
      ]
   },
   {
      "id":"52d08e4b.00554",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1960,
      "y":880,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ca838e96.ee4a8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en aforo Actual",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet aforo = global.get(\"AforoGlobal0\");\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET aforoActual = '\" + aforo +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1770,
      "y":880,
      "wires":[
         [
            "52d08e4b.00554"
         ]
      ]
   },
   {
      "id":"1f77390f.297457",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en aforo Actual",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet aforo = global.get(\"AforoPermitidoGlobal0\");\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET aforoPermitido = '\" + aforo +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":220,
      "wires":[
         [
            "3cbb71d3.629dee"
         ]
      ]
   },
   {
      "id":"3cbb71d3.629dee",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2100,
      "y":220,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a18d2304.e1674",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Si recibo un mensaje se reinicio el servidor",
      "info":"",
      "x":400,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"729937df.ebbe38",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo permitdo y actual almacenado",
      "func":"let ubi = msg.payload;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":710,
      "y":260,
      "wires":[
         [
            "6576596d.5ed1e8"
         ]
      ]
   },
   {
      "id":"6576596d.5ed1e8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":940,
      "y":260,
      "wires":[
         [
            "4cea36b6.bdbd98",
            "dd5bcbe9.b20608",
            "9b59e751.dbd388",
            "4bf87395.d934ac",
            "9c311fdb.ce0aa",
            "ed514c75.4346a",
            "8e679dfe.81861",
            "cc93b466.168bd8"
         ]
      ]
   },
   {
      "id":"4cea36b6.bdbd98",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo permitdo ",
      "func":"let aforo =  Number(msg.payload[0].aforoPermitido);\nglobal.set(\"AforoPermitidoGlobal0\",aforo);\nmsg.payload = aforo;\nmsg.topic = \" \";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1120,
      "y":240,
      "wires":[
         [
            "abde14de.3f97d8"
         ]
      ]
   },
   {
      "id":"dd5bcbe9.b20608",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo actual",
      "func":"let aforo =  Number(msg.payload[0].aforoActual);\nglobal.set(\"AforoGlobal0\",aforo);\nmsg.payload =  aforo;\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1110,
      "y":280,
      "wires":[
         [
            "bc19287c.a6f288"
         ]
      ]
   },
   {
      "id":"bc19287c.a6f288",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de aforo",
      "func":"let GlobalAforo = msg.payload ;\nglobal.set(\"AforoGlobal0\",GlobalAforo);\n\nmsg.payload = global.get(\"AforoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1490,
      "y":900,
      "wires":[
         [
            "b51dea6.6c70718"
         ]
      ]
   },
   {
      "id":"63d6d917.65d148",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar Opcion Temperatura",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet op = msg.payload;\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET LecturaTemperatura = '\" + op +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1820,
      "y":300,
      "wires":[
         [
            "5034b120.a62a6"
         ]
      ]
   },
   {
      "id":"5034b120.a62a6",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2040,
      "y":300,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"9b59e751.dbd388",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Opcion temperatura",
      "func":"let op = msg.payload[0].LecturaTemperatura;\nmsg.payload = op;\nlet num  = false ;\nif ( op == \"true\"){\n    num = true ;\n}else {\n    num = false ;\n}\nmsg.payload = num;\nmsg.topic = \"Lectura de temperatura\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1140,
      "y":320,
      "wires":[
         [
            "246e5ff3.ff1e7"
         ]
      ]
   },
   {
      "id":"134c01b1.2f18ce",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Bloqueo/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":550,
      "y":1860,
      "wires":[
         
      ]
   },
   {
      "id":"6b953dc7.95a914",
      "type":"ui_switch",
      "z":"f7ff6536.244cc8",
      "name":"",
      "label":"Bloqueo / Desloqueo cerradura",
      "tooltip":"",
      "group":"829fea5b.a88bf8",
      "order":7,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":250,
      "y":1860,
      "wires":[
         [
            "134c01b1.2f18ce"
         ]
      ]
   },
   {
      "id":"23a5cab7.d5ef96",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Desbloqueo / Bloqueo cerradura",
      "info":"Esta funcion desbloquea la puerta si el administrador asi lo desea ",
      "x":250,
      "y":1820,
      "wires":[
         
      ]
   },
   {
      "id":"b31aa7f6.a1ce78",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion de Temperatura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":930,
      "y":2800,
      "wires":[
         [
            "9a78ce60.8f869"
         ],
         [
            "f865b486.1b2228",
            "2bb1a0fd.36b2f",
            "2389b244.a53efe"
         ]
      ]
   },
   {
      "id":"9a78ce60.8f869",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Temperatura adecuada",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1150,
      "y":2680,
      "wires":[
         [
            "7733c06f.7c8",
            "6fe1bd67.c31fb4",
            "5c43be2.2ccff4",
            "bd383806.af72d8",
            "56a61210.2603dc"
         ]
      ]
   },
   {
      "id":"86a0780b.d5c938",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":270,
      "y":2780,
      "wires":[
         [
            "347ad764.af5328",
            "fff1e19f.5eec3"
         ]
      ]
   },
   {
      "id":"e96435eb.8fb758",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"fd3ea40d.6a26c8",
      "order":9,
      "width":0,
      "height":0,
      "name":"",
      "label":"Nombre Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3210,
      "y":2580,
      "wires":[
         
      ]
   },
   {
      "id":"af2c4b82.213728",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"nombre",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].nombre + \" \" + profesor[0].apellidos ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2020,
      "y":2580,
      "wires":[
         [
            "e96435eb.8fb758"
         ]
      ]
   },
   {
      "id":"df5cf132.49fbb",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"fd3ea40d.6a26c8",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"noEmpleado Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3200,
      "y":2620,
      "wires":[
         
      ]
   },
   {
      "id":"47f4ee6f.c0e4b",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"noEmpleado",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].noEmpleado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2030,
      "y":2620,
      "wires":[
         [
            "df5cf132.49fbb"
         ]
      ]
   },
   {
      "id":"ae85886c.ad3158",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion correo tempertaura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":840,
      "y":3120,
      "wires":[
         [
            
         ],
         [
            "a2506214.e1fe8"
         ]
      ]
   },
   {
      "id":"2bb1a0fd.36b2f",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Lectura de temperatura",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":590,
      "y":3120,
      "wires":[
         [
            "ae85886c.ad3158",
            "e970eb9b.bcffb8"
         ]
      ]
   },
   {
      "id":"e75b3e6f.f8328",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":640,
      "y":2920,
      "wires":[
         
      ]
   },
   {
      "id":"f1bb9c7a.b10da",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":710,
      "y":2860,
      "wires":[
         [
            "e75b3e6f.f8328"
         ]
      ]
   },
   {
      "id":"7430eec6.2c5e4",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":470,
      "y":2840,
      "wires":[
         [
            "e5149d4c.d6435"
         ],
         [
            "f1bb9c7a.b10da"
         ]
      ]
   },
   {
      "id":"347ad764.af5328",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":270,
      "y":2840,
      "wires":[
         [
            "7430eec6.2c5e4"
         ]
      ]
   },
   {
      "id":"7733c06f.7c8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"temperatura",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2030,
      "y":2660,
      "wires":[
         [
            "586dbf8e.d28dc"
         ]
      ]
   },
   {
      "id":"e5149d4c.d6435",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo disponible",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":720,
      "y":2800,
      "wires":[
         [
            "b31aa7f6.a1ce78"
         ]
      ]
   },
   {
      "id":"5e78b799.60ce68",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/TemperaturaAlta/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":900,
      "y":3060,
      "wires":[
         
      ]
   },
   {
      "id":"f865b486.1b2228",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aviso de temperatura alta",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Temperatura Alta \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":590,
      "y":3060,
      "wires":[
         [
            "5e78b799.60ce68"
         ]
      ]
   },
   {
      "id":"b008d5b.30ba528",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2570,
      "y":2700,
      "wires":[
         [
            "da2dd452.b6fa98"
         ]
      ]
   },
   {
      "id":"da2dd452.b6fa98",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2840,
      "y":2700,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"98e04762.00fe68",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararHuella/Profesor/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2000,
      "wires":[
         [
            "9e378a5d.803da8"
         ]
      ]
   },
   {
      "id":"5278f871.e14b08",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda profesor o administrativo",
      "func":"msg.topic = \"SELECT * FROM profesoresypersonal WHERE huella = '\" + msg.payload.dactilar + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":440,
      "y":2060,
      "wires":[
         [
            "cd669a10.2f19e8"
         ]
      ]
   },
   {
      "id":"cd669a10.2f19e8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":300,
      "y":2220,
      "wires":[
         [
            "ad50ac64.efb29"
         ]
      ]
   },
   {
      "id":"ad50ac64.efb29",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"resultado profesor o administrativo",
      "func":"let array = msg.payload;\nif (array.length > 0 ){\n    let profesor = array[0]; \n    global.set(\"profesorEctGlobal0\",profesor);\n    msg.payload = global.get(\"profesorEctGlobal0\");\n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":540,
      "y":2220,
      "wires":[
         [
            "bc6a5ae6.356a28"
         ]
      ]
   },
   {
      "id":"1de844fc.9e9cfb",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Comprobar password RFID en BD Alumnos",
      "info":"Esta fucnion recibe el numero de identificacion RFID\ndel alumno que desea ingresar, en caso de que la encunetre nos da la informacion del alumno, en caso contrario nos devuelve un \"No encontrado\"",
      "x":290,
      "y":1960,
      "wires":[
         
      ]
   },
   {
      "id":"9e378a5d.803da8",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":190,
      "y":2060,
      "wires":[
         [
            "5278f871.e14b08",
            "62a429e9.a90958"
         ]
      ]
   },
   {
      "id":"50a55da7.a50034",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":760,
      "y":2360,
      "wires":[
         
      ]
   },
   {
      "id":"bc6a5ae6.356a28",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"No encontrado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"No encontrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":300,
      "y":2320,
      "wires":[
         [
            "c0765269.c575c"
         ],
         [
            "f6340036.00ae7"
         ]
      ]
   },
   {
      "id":"f6340036.00ae7",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"No encontrado",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":500,
      "y":2360,
      "wires":[
         [
            "50a55da7.a50034"
         ]
      ]
   },
   {
      "id":"407cd415.04dacc",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/LecturaTemperatura/Profesor/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2280,
      "y":2380,
      "wires":[
         
      ]
   },
   {
      "id":"b4c80a05.4c4218",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"profesorEctGlobal0\");\nlet nombre = array.nombre;\nlet noEmpleado = array.noEmpleado;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ noEmpleado + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1920,
      "y":2380,
      "wires":[
         [
            "407cd415.04dacc"
         ]
      ]
   },
   {
      "id":"c0765269.c575c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Encontrado",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\"+ ubi +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":470,
      "y":2300,
      "wires":[
         [
            "42d89a58.abf5d4"
         ]
      ]
   },
   {
      "id":"a9599bbc.2699d8",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"Desocupado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Desocupado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1120,
      "y":2300,
      "wires":[
         [
            "86b16998.898b58"
         ],
         [
            "7ea06c8f.ca9a94"
         ]
      ]
   },
   {
      "id":"42d89a58.abf5d4",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":620,
      "y":2300,
      "wires":[
         [
            "957c76fe.648908"
         ]
      ]
   },
   {
      "id":"957c76fe.648908",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda profesor (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array[0].profesorAdentro == \"false\" ){\n    msg.payload = \"Desocupado\"; \n    return msg;\n}else {\n    global.set(\"EstadoGlobal0\",array[0]);\n    msg.payload = global.get(\"EstadoGlobal0\");\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":870,
      "y":2300,
      "wires":[
         [
            "a9599bbc.2699d8"
         ]
      ]
   },
   {
      "id":"4b1dbb3a.275b04",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoTemperatura/Profesor/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2720,
      "wires":[
         [
            "86a0780b.d5c938"
         ]
      ]
   },
   {
      "id":"9fa31283.e5bdb",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2340,
      "y":2700,
      "wires":[
         [
            "b008d5b.30ba528",
            "dfc31e11.ea375",
            "a765c1f5.f170f"
         ]
      ]
   },
   {
      "id":"52ce9d0d.8deef4",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Eliminar en laboratoriosyaulas",
      "func":"let noEmpleado = \" \" ;\nlet nombrePro = \" \";\nlet pA = \"false\"\n\nlet ubi = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1870,
      "y":2120,
      "wires":[
         [
            "7aaddf70.05bea"
         ]
      ]
   },
   {
      "id":"7aaddf70.05bea",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2120,
      "y":2180,
      "wires":[
         [
            "899d5aed.a11918"
         ]
      ]
   },
   {
      "id":"32a51636.59dbda",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Eliminar de Entrada",
      "func":"let profesor = global.get(\"profesorEctGlobal0\");\nlet noEmpleado = profesor.noEmpleado ;\nmsg.topic = \"DELETE FROM registroentradaprofesoresypersonal where noEmpleado = '\"+ noEmpleado +\"'\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1830,
      "y":2160,
      "wires":[
         [
            "7aaddf70.05bea"
         ]
      ]
   },
   {
      "id":"c5feed1c.2601a",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Ocupado/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":1900,
      "y":2300,
      "wires":[
         
      ]
   },
   {
      "id":"3c0f3197.6d530e",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Ocupado",
      "func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Ocupado \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1680,
      "y":2300,
      "wires":[
         [
            "c5feed1c.2601a"
         ]
      ]
   },
   {
      "id":"39a6a981.746d46",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Registro",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO temperaturaaltaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1020,
      "y":3180,
      "wires":[
         [
            "a2440b.171b3bf8"
         ]
      ]
   },
   {
      "id":"a2440b.171b3bf8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1180,
      "y":3180,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"7ea06c8f.ca9a94",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"LecturaDeTemperaturaGlobal0\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1380,
      "y":2360,
      "wires":[
         [
            "a4287fb4.b0a7d"
         ]
      ]
   },
   {
      "id":"a4287fb4.b0a7d",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1510,
      "y":2420,
      "wires":[
         [
            "1bc61183.81198e"
         ],
         [
            "5df485c4.d7737c"
         ]
      ]
   },
   {
      "id":"1bc61183.81198e",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Habilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1740,
      "y":2380,
      "wires":[
         [
            "b4c80a05.4c4218"
         ]
      ]
   },
   {
      "id":"5df485c4.d7737c",
      "type":"change",
      "z":"f7ff6536.244cc8",
      "name":"Deshabilitado",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"false",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1760,
      "y":2460,
      "wires":[
         [
            "44002e05.21326"
         ]
      ]
   },
   {
      "id":"44002e05.21326",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"TMP adecuada",
      "func":"let array = global.get(\"profesorEctGlobal0\");\nlet nombre = array.nombre;\nlet noEmpleado = array.noEmpleado;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ noEmpleado + \"\\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1960,
      "y":2460,
      "wires":[
         [
            "abb48564.d49008"
         ]
      ]
   },
   {
      "id":"abb48564.d49008",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/DeshabilitadoTemperatura/Profesor/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2300,
      "y":2460,
      "wires":[
         
      ]
   },
   {
      "id":"7cb8d326.9b668c",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/InfoDeshabilitadoTemperatura/Profesor/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":1610,
      "y":2920,
      "wires":[
         [
            "81577cad.352b6"
         ]
      ]
   },
   {
      "id":"81577cad.352b6",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":1890,
      "y":2920,
      "wires":[
         [
            "4fac1aaa.16e244",
            "d269c283.d35a3"
         ]
      ]
   },
   {
      "id":"5b60e74d.c30b38",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"nombre",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].nombre + \" \" + profesor[0].apellidos ;\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2820,
      "y":2820,
      "wires":[
         [
            "e96435eb.8fb758"
         ]
      ]
   },
   {
      "id":"fa5e2640.d94328",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"noEmpleado",
      "func":"let profesor = msg.payload ;\nmsg.payload = profesor[0].noEmpleado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2830,
      "y":2860,
      "wires":[
         [
            "df5cf132.49fbb"
         ]
      ]
   },
   {
      "id":"cf4258dd.2a5088",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"temperatura",
      "func":"msg.payload = 0 ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2830,
      "y":2900,
      "wires":[
         [
            "586dbf8e.d28dc"
         ]
      ]
   },
   {
      "id":"95bcd6ba.637b68",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Insertar BD Entrada",
      "info":"Insertar en la BD de datos",
      "x":3230,
      "y":2940,
      "wires":[
         
      ]
   },
   {
      "id":"4611771e.89cc78",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonal (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2970,
      "y":2980,
      "wires":[
         [
            "94520c90.6b37c"
         ]
      ]
   },
   {
      "id":"94520c90.6b37c",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3200,
      "y":2980,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8f4d5cba.8d4ef",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2760,
      "y":2980,
      "wires":[
         [
            "4611771e.89cc78",
            "a7bba277.89f17",
            "a33e1ad4.a886d8"
         ]
      ]
   },
   {
      "id":"4fac1aaa.16e244",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global del profesor  ",
      "func":"let profesor = msg.payload ;\nglobal.set(\"profesorDeshabilitadoGlobal0\",profesor);\n\nmsg.payload = global.get(\"profesorDeshabilitadoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2100,
      "y":2920,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"dc17703a.10952",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/AforoLleno/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2580,
      "y":3040,
      "wires":[
         
      ]
   },
   {
      "id":"d269c283.d35a3",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo",
      "func":"let aforo = global.get(\"AforoGlobal0\");\naforo += 1 ;\nmsg.payload = aforo ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1890,
      "y":2980,
      "wires":[
         [
            "17925634.c234aa"
         ]
      ]
   },
   {
      "id":"17925634.c234aa",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion apertura aforo",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         },
         {
            "t":"gt",
            "v":"AforoPermitidoGlobal0",
            "vt":"global"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2090,
      "y":2980,
      "wires":[
         [
            "4086c6dd.bc0e68",
            "83b0bac1.0c7ad8",
            "bd383806.af72d8",
            "56a61210.2603dc",
            "cf4258dd.2a5088"
         ],
         [
            "b374eced.6ac05"
         ]
      ]
   },
   {
      "id":"b374eced.6ac05",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Aforo lleno",
      "func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2330,
      "y":3040,
      "wires":[
         [
            "dc17703a.10952"
         ]
      ]
   },
   {
      "id":"94c7ac60.adc21",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Recibimos los datos de la lectura de temperatura",
      "info":"",
      "x":300,
      "y":2680,
      "wires":[
         
      ]
   },
   {
      "id":"43e024c9.630f4c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Salida Historial",
      "func":"let profesor = global.get(\"profesorEctGlobal0\");\nlet noEmpleado = profesor.noEmpleado ;\nlet nombre = profesor.nombre;\nlet apellidos = profesor.apellidos;\nlet clave = profesor.clave ;\nlet huella = profesor.huella ;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registrosalidaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1860,
      "y":2200,
      "wires":[
         [
            "7aaddf70.05bea"
         ]
      ]
   },
   {
      "id":"dfc31e11.ea375",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada Historial",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\nlet array = global.get(\"profesorGlobal0\");\nlet temp = array.temperatura;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2600,
      "y":2740,
      "wires":[
         [
            "da2dd452.b6fa98"
         ]
      ]
   },
   {
      "id":"a7bba277.89f17",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Entrada",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombre = profesor[0].nombre;\nlet apellidos = profesor[0].apellidos;\nlet clave = profesor[0].clave ;\nlet huella = profesor[0].huella ;\n\n\nlet temp = 0;\n\nlet area = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"INSERT INTO registroentradaprofesoresypersonalhistorial (clave, huella, noEmpleado, nombre, apellidos, temperatura, area) VALUES ('\"+ clave +\"','\"+ huella +\"','\"+ noEmpleado +\"','\"+ nombre +\"','\"+ apellidos +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2970,
      "y":3020,
      "wires":[
         [
            "94520c90.6b37c"
         ]
      ]
   },
   {
      "id":"d568035a.4b9e5",
      "type":"comment",
      "z":"f7ff6536.244cc8",
      "name":"Aqui",
      "info":"",
      "x":1110,
      "y":2240,
      "wires":[
         
      ]
   },
   {
      "id":"9fd151da.65c2",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"Igual",
            "vt":"str"
         },
         {
            "t":"neq",
            "v":"Igual",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1460,
      "y":2220,
      "wires":[
         [
            "7f78be95.4a3ca",
            "59cdd687.f3a208",
            "50a59a0.d305768"
         ],
         [
            "3c0f3197.6d530e"
         ]
      ]
   },
   {
      "id":"86b16998.898b58",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Encontrado",
      "func":"let estado = msg.payload ;\nlet profesor = global.get(\"profesorEctGlobal0\");\nif (profesor.noEmpleado  == estado.noEmpleado ){\n    msg.payload = \"Igual\"; \n    return msg;\n}else {\n    msg.payload = \"NoIgual\"; \n    return msg;\n}\n\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1310,
      "y":2220,
      "wires":[
         [
            "9fd151da.65c2"
         ]
      ]
   },
   {
      "id":"793f7ac1.455ca4",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Profesor o Administrador saliendo",
      "func":"let profesor = global.get(\"profesorEctGlobal0\");\nlet nombre = profesor.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1880,
      "y":2240,
      "wires":[
         [
            "11baf3dd.5783bc"
         ]
      ]
   },
   {
      "id":"11baf3dd.5783bc",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Despedida/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2220,
      "y":2240,
      "wires":[
         
      ]
   },
   {
      "id":"13d724f7.915c2b",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":860,
      "y":3180,
      "wires":[
         [
            "39a6a981.746d46"
         ]
      ]
   },
   {
      "id":"2389b244.a53efe",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":620,
      "y":3180,
      "wires":[
         [
            "13d724f7.915c2b"
         ]
      ]
   },
   {
      "id":"fff1e19f.5eec3",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de Usuario",
      "func":"let profesor = msg.payload ;\nglobal.set(\"profesorGlobal0\",profesor);\nmsg.payload = global.get(\"profesorGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":490,
      "y":2780,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"6fe1bd67.c31fb4",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1460,
      "y":2600,
      "wires":[
         [
            "9abcb615.be8938"
         ]
      ]
   },
   {
      "id":"9abcb615.be8938",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1760,
      "y":2600,
      "wires":[
         [
            "af2c4b82.213728",
            "47f4ee6f.c0e4b"
         ]
      ]
   },
   {
      "id":"5c43be2.2ccff4",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2100,
      "y":2700,
      "wires":[
         [
            "9fa31283.e5bdb"
         ]
      ]
   },
   {
      "id":"586dbf8e.d28dc",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"fd3ea40d.6a26c8",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Temperatura Profesor",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":3200,
      "y":2660,
      "wires":[
         
      ]
   },
   {
      "id":"a765c1f5.f170f",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Laboratorios y Aulas",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombrePro = profesor[0].nombre + \" \"  + profesor[0].apellidos;\nlet pA = \"true\"\n\nlet ubi = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2610,
      "y":2780,
      "wires":[
         [
            "5e53722.1ffdb8c"
         ]
      ]
   },
   {
      "id":"899d5aed.a11918",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Vaciar campos",
      "func":"\nmsg.payload = \" \" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2280,
      "y":2180,
      "wires":[
         [
            "e96435eb.8fb758",
            "586dbf8e.d28dc",
            "df5cf132.49fbb"
         ]
      ]
   },
   {
      "id":"4086c6dd.bc0e68",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del profesor",
      "func":"let profesor = global.get(\"profesorDeshabilitadoGlobal0\");\nlet noEmpleado = profesor.noEmpleado ;\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2500,
      "y":2980,
      "wires":[
         [
            "8f4d5cba.8d4ef"
         ]
      ]
   },
   {
      "id":"a33e1ad4.a886d8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar en Laboratorios y Aulas",
      "func":"let profesor  = msg.payload;\nlet noEmpleado = profesor[0].noEmpleado ;\nlet nombrePro = profesor[0].nombre + \" \"  + profesor[0].apellidos;\nlet pA = \"true\"\n\nlet ubi = global.get(\"UbicacionGlobal0\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET profesorAdentro  = '\" + pA +\"' , noEmpleado = '\"+ noEmpleado +\"', nombrePro = '\" + nombrePro + \"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3010,
      "y":3060,
      "wires":[
         [
            "a78bd089.44e6"
         ]
      ]
   },
   {
      "id":"4439f94f.be6f68",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/compararteclado/Profesor/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":300,
      "y":2100,
      "wires":[
         [
            "23649b89.a2b264"
         ]
      ]
   },
   {
      "id":"23649b89.a2b264",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":190,
      "y":2160,
      "wires":[
         [
            "c09c454f.c18c08",
            "62a429e9.a90958"
         ]
      ]
   },
   {
      "id":"c09c454f.c18c08",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda profesor o administrativo",
      "func":"msg.topic = \"SELECT * FROM profesoresypersonal WHERE clave = '\" + msg.payload.codigo + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":440,
      "y":2160,
      "wires":[
         [
            "cd669a10.2f19e8"
         ]
      ]
   },
   {
      "id":"83b0bac1.0c7ad8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del profesor",
      "func":"let array = global.get(\"profesorDeshabilitadoGlobal0\");\nlet noEmpleado = array.noEmpleado\nmsg.topic = \"SELECT * FROM profesoresypersonal where noEmpleado = '\" + noEmpleado + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2400,
      "y":2860,
      "wires":[
         [
            "330286e1.29af2a"
         ]
      ]
   },
   {
      "id":"330286e1.29af2a",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2640,
      "y":2860,
      "wires":[
         [
            "5b60e74d.c30b38",
            "fa5e2640.d94328"
         ]
      ]
   },
   {
      "id":"cadc24f5.11a4d8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Encontrado",
      "func":"let RFID = msg.payload.RFID ;\nglobal.set(\"RFIDGlobal0\",RFID);\nlet ubi = global.get(\"UbicacionGlobal0\");\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\"+ ubi +\"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":330,
      "y":440,
      "wires":[
         [
            "d523305a.26b9f"
         ]
      ]
   },
   {
      "id":"d523305a.26b9f",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":500,
      "y":440,
      "wires":[
         [
            "5d754a85.b72e74"
         ]
      ]
   },
   {
      "id":"5d754a85.b72e74",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"busqueda profesor (registroentradaalumnos)",
      "func":"let array = msg.payload;\nif (array[0].profesorAdentro == \"false\" ){\n    msg.payload = \"Desocupado\"; \n    return msg;\n}else {\n    global.set(\"EstadoGlobal0\",array[0]);\n    msg.payload = global.get(\"EstadoGlobal0\");\n    return msg;\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":750,
      "y":440,
      "wires":[
         [
            "fcd0d0e9.110b4"
         ]
      ]
   },
   {
      "id":"fcd0d0e9.110b4",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decision ",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"neq",
            "v":"Desocupado",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Desocupado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":100,
      "y":500,
      "wires":[
         [
            "b579db08.d72a18"
         ],
         [
            "c3127e39.b0099"
         ]
      ]
   },
   {
      "id":"237b4f06.998fb",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":170,
      "y":440,
      "wires":[
         [
            "cadc24f5.11a4d8"
         ]
      ]
   },
   {
      "id":"c3127e39.b0099",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Alumno saliendo",
      "func":"let nombre = msg.payload.nombre;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\"}\" ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":400,
      "y":500,
      "wires":[
         [
            "4ca1cb5a.4472f4"
         ]
      ]
   },
   {
      "id":"4ca1cb5a.4472f4",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/SinAcceso/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":670,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"1db9a524.f6f56b",
      "type":"mqtt out",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/Apertura/0",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"3f8d4146.cd37fe",
      "x":2610,
      "y":2820,
      "wires":[
         
      ]
   },
   {
      "id":"56a61210.2603dc",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"temperatura",
      "func":"let valor = true ;\nmsg.payload = valor ;\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2310,
      "y":2820,
      "wires":[
         [
            "1db9a524.f6f56b"
         ]
      ]
   },
   {
      "id":"a9bebfc5.989c2",
      "type":"mqtt in",
      "z":"f7ff6536.244cc8",
      "name":"",
      "topic":"Gabanni/UAMazc/EstadoPuerta/0",
      "qos":"2",
      "datatype":"auto",
      "broker":"9024296.b4fb6d8",
      "nl":false,
      "rap":false,
      "x":210,
      "y":3320,
      "wires":[
         [
            "74a2e717.ffc808"
         ]
      ]
   },
   {
      "id":"74a2e717.ffc808",
      "type":"json",
      "z":"f7ff6536.244cc8",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":430,
      "y":3320,
      "wires":[
         [
            "abdfe2ed.dbc97"
         ]
      ]
   },
   {
      "id":"abdfe2ed.dbc97",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Variable global de Estado de la Puerta",
      "func":"let estado = msg.payload.estado ;\nglobal.set(\"estadoGlobal0\",estado);\nmsg.payload = global.get(\"estadoGlobal0\");\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":650,
      "y":3320,
      "wires":[
         [
            "fb3b2c48.91511",
            "5e10cd0.8f71934",
            "8b88e635.7ec968",
            "2cbab7d5.f84bd8"
         ]
      ]
   },
   {
      "id":"fb3b2c48.91511",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar Estado de la Puerta",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet estado = global.get(\"estadoGlobal0\");\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET estadoPuerta  = '\" + estado +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":960,
      "y":3320,
      "wires":[
         [
            "933beb88.2adee8"
         ]
      ]
   },
   {
      "id":"933beb88.2adee8",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1180,
      "y":3320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f1107f32.30093",
      "type":"ui_text",
      "z":"f7ff6536.244cc8",
      "group":"fd3ea40d.6a26c8",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Estado de la puerta",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1270,
      "y":3380,
      "wires":[
         
      ]
   },
   {
      "id":"5e10cd0.8f71934",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Mesnaje TMP opcinal",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet estado = global.get(\"estadoGlobal0\");\nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nmsg.topic = \"Edo.Puerta ( \" + ubi + \")\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":940,
      "y":3420,
      "wires":[
         [
            "b6296c85.faa09"
         ]
      ]
   },
   {
      "id":"b6296c85.faa09",
      "type":"ui_toast",
      "z":"f7ff6536.244cc8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"",
      "name":"Estado Puerta",
      "x":1260,
      "y":3420,
      "wires":[
         
      ]
   },
   {
      "id":"e518b8ad.bbe998",
      "type":"telegram receiver",
      "z":"f7ff6536.244cc8",
      "name":"Gabanni",
      "bot":"b1e85f2c.05544",
      "saveDataDir":"",
      "filterCommands":false,
      "x":460,
      "y":3420,
      "wires":[
         [
            "3fee2cda.7fb474"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"3fee2cda.7fb474",
      "type":"debug",
      "z":"f7ff6536.244cc8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":630,
      "y":3420,
      "wires":[
         
      ]
   },
   {
      "id":"bb16ecc4.05149",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1500,
      "y":3520,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3a7c497d.cf1a16",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Estado de la puerta",
      "func":"let estado = global.get(\"estadoGlobal0\");\nmsg.payload = estado ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":890,
      "y":3520,
      "wires":[
         [
            "747bf8f.5878508"
         ]
      ]
   },
   {
      "id":"4bf87395.d934ac",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos de profesor al cargar la cerradura (nombrePro)",
      "func":"let profesor = msg.payload ; \nmsg.payload = profesor[0].nombrePro ;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2720,
      "y":2160,
      "wires":[
         [
            "e96435eb.8fb758"
         ]
      ]
   },
   {
      "id":"9c311fdb.ce0aa",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos de profesor al cargar la cerradura (noEmpleado)",
      "func":"let profesor = msg.payload ; \nmsg.payload = profesor[0].noEmpleado;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2720,
      "y":2200,
      "wires":[
         [
            "df5cf132.49fbb"
         ]
      ]
   },
   {
      "id":"ed514c75.4346a",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos estado de la puerta al cargar la cerradura (Estado de la Puerta)",
      "func":"let puerta = msg.payload ; \nlet estado = puerta[0].estadoPuerta;\nlet ubi = global.get(\"UbicacionGlobal0\");\nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nmsg.topic = \"Edo.Puerta ( \" + ubi + \")\";\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1190,
      "y":3260,
      "wires":[
         [
            "b6296c85.faa09"
         ]
      ]
   },
   {
      "id":"8e679dfe.81861",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Cerradura activada en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1150,
      "y":80,
      "wires":[
         [
            "4e0fa25b.24752c"
         ]
      ]
   },
   {
      "id":"4e0fa25b.24752c",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1390,
      "y":80,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"747bf8f.5878508",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Abierto/Cerrado",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"abierto",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"cerrado",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1080,
      "y":3520,
      "wires":[
         [
            "74af09c.fe48df8"
         ],
         [
            "d683bdad.4761b"
         ]
      ]
   },
   {
      "id":"74af09c.fe48df8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet estado = msg.payload ;\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Puerta abierta en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":3480,
      "wires":[
         [
            "bb16ecc4.05149"
         ]
      ]
   },
   {
      "id":"d683bdad.4761b",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet estado = msg.payload ;\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Puerta cerrada en \" + ubi\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1270,
      "y":3560,
      "wires":[
         [
            "bb16ecc4.05149"
         ]
      ]
   },
   {
      "id":"54ab510b.703e8",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":3620,
      "y":3240,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"4bbe22dd.2f4d1c",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let info = msg.payload ;\nlet ubi =  info[0].nombre ;\nlet aforoP =  info[0].aforoPermitido ;\nlet tmp =  info[0].LecturaTemperatura;\nlet profesor =  info[0].nombrePro;\n\n\nif(tmp == \"true\"){\n    tmp = \"Habilitado\";\n}else{\n     tmp = \"Deshabilitado\";\n}\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"INGRESO\" \n    + \"\\n  Ubicacion : \"+ubi+\" \"\n    + \"\\n  Aforo Permitido : \"+aforoP+\" \"\n    + \"\\n  Lectura de Temperatura : \"+tmp+\" \"\n    + \"\\n  Nombre : \"+ profesor +\" \"\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3390,
      "y":3240,
      "wires":[
         [
            "54ab510b.703e8"
         ]
      ]
   },
   {
      "id":"3f583cff.925114",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del Lab",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.payload = ubi;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3520,
      "y":3140,
      "wires":[
         [
            "dca5a550.aa5c68"
         ]
      ]
   },
   {
      "id":"dca5a550.aa5c68",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3500,
      "y":3180,
      "wires":[
         [
            "4bbe22dd.2f4d1c"
         ]
      ]
   },
   {
      "id":"a78bd089.44e6",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":3220,
      "y":3060,
      "wires":[
         [
            "259e762.d58ed8a"
         ]
      ]
   },
   {
      "id":"6587d23d.edacdc",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Obtengo informacion del Lab",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nmsg.payload = ubi;\nmsg.topic = \"SELECT * FROM laboratoriosyaulas where nombre = '\" + ubi + \"'\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2400,
      "y":2060,
      "wires":[
         [
            "330ed1e2.d255be"
         ]
      ]
   },
   {
      "id":"330ed1e2.d255be",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":1940,
      "y":2000,
      "wires":[
         [
            "ea963f78.53999"
         ]
      ]
   },
   {
      "id":"ea963f78.53999",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let info = msg.payload ;\nlet ubi =  info[0].nombre ;\nlet aforoP =  info[0].aforoPermitido ;\nlet tmp =  info[0].LecturaTemperatura;\nlet profesor =  info[0].nombrePro;\n\nif(tmp == \"true\"){\n    tmp = \"Habilitado\";\n}else{\n     tmp = \"Deshabilitado\";\n}\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"SALIDA\" \n    + \"\\n  Ubicacion : \"+ubi+\" \"\n    + \"\\n  Nombre : \"+profesor+\" \"\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2110,
      "y":2000,
      "wires":[
         [
            "50603b14.a112b4"
         ]
      ]
   },
   {
      "id":"50603b14.a112b4",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"MSG Abierto/Cerrado ",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":2320,
      "y":2000,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"5ec631c9.020b6",
      "type":"ui_switch",
      "z":"f7ff6536.244cc8",
      "name":"",
      "label":"Notificaciones",
      "tooltip":"",
      "group":"829fea5b.a88bf8",
      "order":6,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"topic",
      "topicType":"msg",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "animate":false,
      "x":1800,
      "y":460,
      "wires":[
         [
            "e0b5bddc.46aac",
            "a8372bdc.1e3d68"
         ]
      ]
   },
   {
      "id":"e0b5bddc.46aac",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Insertar Opcion Temperatura",
      "func":"let ubi = global.get(\"UbicacionGlobal0\");\nlet op = msg.payload;\n\n\nmsg.topic = \"UPDATE laboratoriosyaulas SET notificaciones = '\" + op +\"' WHERE nombre = '\" + ubi +\"' \";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2040,
      "y":460,
      "wires":[
         [
            "1ed7f942.297ca7"
         ]
      ]
   },
   {
      "id":"1ed7f942.297ca7",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2240,
      "y":460,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"cc93b466.168bd8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Opcion Notificaciones",
      "func":"let op = msg.payload[0].notificaciones;\nmsg.payload = op;\nlet num  = false ;\nif ( op == \"true\"){\n    num = true ;\n}else {\n    num = false ;\n}\nmsg.payload = num;\nmsg.topic = \"Notificaciones\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1140,
      "y":380,
      "wires":[
         [
            "5ec631c9.020b6"
         ]
      ]
   },
   {
      "id":"f014fa44.b1a7e8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Mesnaje notificacion opcional",
      "func":"let temp = msg.payload ;\nif ( temp == 1){\n    msg.payload = \"Notificaciones habilitada\" ;\n}else{\n    msg.payload = \"Notificaciones deshabilitada\";\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1960,
      "y":560,
      "wires":[
         [
            "b5c0c912.d971c8"
         ]
      ]
   },
   {
      "id":"b5c0c912.d971c8",
      "type":"ui_toast",
      "z":"f7ff6536.244cc8",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"Notificacion",
      "name":"Notificacion",
      "x":2190,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"a8372bdc.1e3d68",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Indicacion de notificacion opcional",
      "func":"let temp = msg.payload ;\nglobal.set(\"NotificacionGlobal0\",temp);\nmsg.payload = global.get(\"NotificacionGlobal0\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":2060,
      "y":500,
      "wires":[
         [
            "f014fa44.b1a7e8"
         ]
      ]
   },
   {
      "id":"393aac4a.6145f4",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":600,
      "y":3560,
      "wires":[
         [
            "3a7c497d.cf1a16"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"8b88e635.7ec968",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal0\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":550,
      "y":3500,
      "wires":[
         [
            "393aac4a.6145f4"
         ]
      ]
   },
   {
      "id":"259e762.d58ed8a",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal0\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":3490,
      "y":3060,
      "wires":[
         [
            "18328b24.af6aa5"
         ]
      ]
   },
   {
      "id":"18328b24.af6aa5",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":3260,
      "y":3140,
      "wires":[
         [
            "3f583cff.925114"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"59cdd687.f3a208",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Notificaciones ? (habilitada o deshabilitada)",
      "func":"msg.payload = global.get(\"NotificacionGlobal0\");\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1850,
      "y":2060,
      "wires":[
         [
            "932beda6.15f5e"
         ]
      ]
   },
   {
      "id":"932beda6.15f5e",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion notificacion",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2160,
      "y":2060,
      "wires":[
         [
            "6587d23d.edacdc"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"50a59a0.d305768",
      "type":"delay",
      "z":"f7ff6536.244cc8",
      "name":"",
      "pauseType":"delay",
      "timeout":"10",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":1630,
      "y":2220,
      "wires":[
         [
            "43e024c9.630f4c",
            "793f7ac1.455ca4",
            "32a51636.59dbda",
            "52ce9d0d.8deef4"
         ]
      ]
   },
   {
      "id":"62a429e9.a90958",
      "type":"debug",
      "z":"f7ff6536.244cc8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":810,
      "y":2140,
      "wires":[
         
      ]
   },
   {
      "id":"9af2f9fb.1e8188",
      "type":"debug",
      "z":"f7ff6536.244cc8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":850,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"2e638e96.6088c2",
      "type":"switch",
      "z":"f7ff6536.244cc8",
      "name":"Decicion correo tempertaura",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"37.5",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"37.5",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1540,
      "y":1500,
      "wires":[
         [
            
         ],
         [
            "3a699cd4.221b74"
         ]
      ]
   },
   {
      "id":"da014ec9.d1161",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Lectura de temperatura",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1250,
      "y":1500,
      "wires":[
         [
            "2e638e96.6088c2"
         ]
      ]
   },
   {
      "id":"646512d3.4def9c",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":2010,
      "y":1500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"a2506214.e1fe8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let array = global.get(\"profesorGlobal0\");\nlet ubi = global.get(\"UbicacionGlobal0\");\nlet temperatura =  array.temperatura;\nlet nombre =  array.nombre;\nglobal.temp = temperatura;\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Temperatura corporal Alta !!!, La temperatura corporal del usuario \" + nombre + \"es de : \" + temperatura +\" en \" + ubi\n}\n\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1090,
      "y":3120,
      "wires":[
         [
            "66afe097.6e417"
         ]
      ]
   },
   {
      "id":"66afe097.6e417",
      "type":"telegram sender",
      "z":"f7ff6536.244cc8",
      "name":"",
      "bot":"b1e85f2c.05544",
      "haserroroutput":false,
      "outputs":1,
      "x":1310,
      "y":3120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3a699cd4.221b74",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"Datos del mensaje",
      "func":"let array = global.get(\"alumnoGlobal0\");\nlet ubi = global.get(\"UbicacionGlobal0\");\nlet temperatura =  array.temperatura;\nlet nombre =  array.nombre;\nglobal.temp = temperatura;\n\nmsg.payload = {\n    \"chatId\": -628656105 , //Id de la persona\n    \"type\":\"message\" ,\n    \"content\" : \"Temperatura coorporal Alta !!!, La temperatura corporal del usuario \" + nombre + \"es de :\" + temperatura +\" en \" + ubi\n}\n\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1790,
      "y":1500,
      "wires":[
         [
            "646512d3.4def9c"
         ]
      ]
   },
   {
      "id":"e970eb9b.bcffb8",
      "type":"debug",
      "z":"f7ff6536.244cc8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":830,
      "y":3020,
      "wires":[
         
      ]
   },
   {
      "id":"2cbab7d5.f84bd8",
      "type":"function",
      "z":"f7ff6536.244cc8",
      "name":"",
      "func":"let estado = msg.payload ; \nif ( estado == \"abierto\"){\n    msg.payload = \"Puerta Abierta\" ;\n}else{\n    msg.payload = \"Puerta Cerrada\";\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":3380,
      "wires":[
         [
            "f1107f32.30093"
         ]
      ]
   },
   {
      "id":"84d59821.7afa08",
      "type":"debug",
      "z":"f7ff6536.244cc8",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":2050,
      "y":1040,
      "wires":[
         
      ]
   },
   {
      "id":"5e53722.1ffdb8c",
      "type":"mysql",
      "z":"f7ff6536.244cc8",
      "mydb":"6cf09c01.dd67a4",
      "name":"",
      "x":2840,
      "y":2780,
      "wires":[
         [
            "259e762.d58ed8a"
         ]
      ]
   },
   {
      "id":"92cab881.5485c8",
      "type":"ui_group",
      "name":"Ultimo usuario accedido",
      "tab":"14dd5443.51457c",
      "order":2,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"829fea5b.a88bf8",
      "type":"ui_group",
      "name":"Control -  Laboratorio de Sistemas Digitales",
      "tab":"14dd5443.51457c",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3f8d4146.cd37fe",
      "type":"mqtt-broker",
      "name":"Gos",
      "broker":"localhost",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"6cf09c01.dd67a4",
      "type":"MySQLdatabase",
      "name":"",
      "host":"127.0.0.1",
      "port":"3306",
      "db":"cerradura",
      "tz":"",
      "charset":"UTF8"
   },
   {
      "id":"9024296.b4fb6d8",
      "type":"mqtt-broker",
      "name":"",
      "broker":"localhost",
      "port":"1883",
      "clientid":"GiovanniOlmos-SIC-2398",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"feeef7f9.470b08",
      "type":"ui_group",
      "name":"Ingresos",
      "tab":"14dd5443.51457c",
      "order":4,
      "disp":true,
      "width":"10",
      "collapse":false
   },
   {
      "id":"98104ae6.b93c88",
      "type":"ui_group",
      "name":"Salidas",
      "tab":"14dd5443.51457c",
      "order":5,
      "disp":true,
      "width":"10",
      "collapse":false
   },
   {
      "id":"fd3ea40d.6a26c8",
      "type":"ui_group",
      "name":"Informacion del Profesor o Administrativo",
      "tab":"14dd5443.51457c",
      "order":6,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"b1e85f2c.05544",
      "type":"telegram bot",
      "botname":"Gabanni",
      "usernames":"",
      "chatids":"",
      "baseapiurl":"",
      "updatemode":"polling",
      "pollinterval":"300",
      "usesocks":false,
      "sockshost":"",
      "socksport":"6667",
      "socksusername":"anonymous",
      "sockspassword":"",
      "bothost":"",
      "botpath":"",
      "localbotport":"8443",
      "publicbotport":"8443",
      "privatekey":"",
      "certificate":"",
      "useselfsignedcertificate":false,
      "sslterminated":false,
      "verboselogging":false
   },
   {
      "id":"14dd5443.51457c",
      "type":"ui_tab",
      "name":" Laboratorio de Sistemas Digitales",
      "icon":"dashboard",
      "order":9,
      "disabled":false,
      "hidden":false
   }
]